[2020-04-24 13:55] Ruyk opened #3 "Overriding CMAKE_BUILD_TYPE"
The following code:

https://github.com/oneapi-src/oneMKL/blob/7f40c123571995d2e89a910e7844145ec91cd937/CMakeLists.txt#L26-L32

overrides the default `CMAKE_BUILD_TYPE` passed by the command line, and expect users to use `BUILD_DEBUG` flag. Is not really the way CMake users expect to build the programs, some may say is not idiomatic. In practice, it causes some conflicts with Jenkins scripts and u

[2020-04-24 21:07] mkrainiuk commented on #3
Thank you @Ruyk, agree, this is incorrect behavior in oneMKL. I've opened PR #4

[2020-04-27 17:50] #3 closed

[2020-05-12 17:29] vpascuzz opened #8 "[CUDA] MKL and RNG"
Hi,

After spending some time getting oneMKL to build with cuBLAS support [1], I can now use oneMKL with CUDA devices. However, I overlooked the fact that this brings in only the cuBLAS backend, and not the random-number generators available for Intel hardware.

Is there any plan to integrate RNGs for CUDA devices, e.g. with a cuRAND backend? While I understand CUDA support is in general experimen

[2020-05-12 23:17] marius-cornea commented on #8
Hello, and thank you for your interest in using and contributing to oneMKL. The first stage in our plan to support RNGs consists of adding support for, and integrating our own MKL RNGs. The current plan is to do so around August of this year. Having those available might ease your work of adding support for other RNGs. Are you interested in using certain RNGs and distributions from cuRAND?

[2020-05-13 00:35] vpascuzz commented on #8
Thanks for the feedback (and joining github :), @marius-cornea. The strategy makes sense.

I'm not a serious user of cuRAND. Rather, I am porting some CUDA code to DPC++/SYCL that uses the XORWOW (cuRAND default generator) and the uniform distribution. I notice, however, that MKL doesn't natively include XORWOW(?). Probably not a huge deal since it may be difficult to reproduce the same randoms on

[2020-05-14 01:09] marius-cornea commented on #8
Hello, that is correct, MKL does not include XORWOW. If you are interested in obtaining the same results on both Intel and NVIDIA platforms, you could try either the Philox, or the MT19937 generator. We will let you know when support for the first oneMKL RNG has been added. That could serve as an example for adding support for similar cuRAND generators.

[2020-05-14 11:07] vpascuzz commented on #8
@marius-cornea Sounds good -- thanks.

[2020-05-16 16:48] paravoid opened #12 "Please provide an open source licensed backend option"
While oneMKL is licensed under the Apache2 license, which is an open source license (thanks for that!), to the best of my knowledge both of the currently available backends are currently licensed under proprietary, non-open-source licenses: Intel MKL is licensed under the Intel Simplified Software License, while NVIDIA cuBLAS is licensed under NVIDIA's proprietary EULA.

It'd be great if there was

[2020-05-17 04:48] mmeterel commented on #12
Hi @paravoid Thanks for your interest and feedback on oneMKL. We will soon be adding NETLIB interface for BLAS component into oneMKL as an open source backend. If there is another backend option you are interested, please feel free to contribute to oneMKL. Thanks again for your interest.

[2020-05-18 00:18] cdluminate commented on #12
I second this request.

[2020-05-18 01:11] shaneastory commented on #12
We encourage you to add support for additional BLAS libraries. The project is open source, so please do your part and contribute.

[2020-05-18 03:53] jasukhar commented on #8
Hello @vpascuzz! We will keep this issue open to let you know once APIs for RNG are integrated.

[2020-05-18 22:17] ducbueno opened #14 "Building problems"
Hello.

I'm getting the following error in the building process, more specifically in the first `cmake` command.

`CMake Error at /usr/share/cmake-3.16/Modules/FindPackageHandleStandardArgs.cmake:146 (message):
  Could NOT find CBLAS (missing: CBLAS_file)`

I have built lapack from the link listed in the dependencies section of the instructions.

Does anyone know how I can fix this?

[2020-05-18 22:29] vmalia commented on #14
@ducbueno Can you please post your build command? Did you define REF_BLAS_ROOT in your CMake command?

[2020-05-18 22:35] ducbueno commented on #14
@vmalia I did define `REF_BLAS_ROOT` in my `cmake` command. I tried two ways:

1) Installing lapack as instructed in its Git (that is, installing it at `$HOME/.local`) and running the following `cmake` command:

`cmake .. -DREF_BLAS_ROOT=/home/ducbueno/.local/lapack`

2) Installing lapack with root privileges and running the following `cmake` command:

`cmake .. -DREF_BLAS_ROOT=/usr/local/lib` (I'

[2020-05-18 22:47] NadyaTen commented on #14
Hello,
Cmake is looking for libcblas.so, libblas.so files. Do you have them in REF_BLAS_ROOT (REF_BLAS_ROOT/lib, REF_BLAS_ROOT/lib64) directory?

And btw, are you using latest revision of master?

[2020-05-18 22:55] vmalia commented on #14
@ducbueno
Can you try `cmake .. -DREF_BLAS_ROOT=/usr/local` ? Since correct path to REF_BLAS_ROOT is the path that contains lib folder, which in-turn contains libblas.so and libcblas.so as mentioned by @NadyaTen

Same applies to other dependency variables. You can check the Find<module>.cmake file in cmake/ directory of the project too, if you get undefined variable errors.

[2020-05-18 23:00] ducbueno commented on #14
Something is not adding up here. By following the installation instructions on the lapack Git (https://github.com/Reference-LAPACK/lapack) I get only the libblas.a and liblapack.a files.

When I run `sudo find / -name 'libcblas.so'` and `sudo find / -name 'libblas.so'` I get nothing.

Is there any other way of installing these libraries? I'm running Ubuntu by the way.

And @NadyaTen I think I'm us

[2020-05-18 23:03] ducbueno commented on #14
I was able to install libblas.so with `sudo apt-get install libblas-dev`, but still no results for `sudo find / -name 'libcblas.so'`.

[2020-05-18 23:06] vmalia commented on #14
@ducbueno
Can you try the command with an additional CMake definition "-DBUILD_SHARED_LIBS=ON"? By default LAPACK build system sets it to OFF (line 48 of https://github.com/Reference-LAPACK/lapack/blob/master/CMakeLists.txt), which is why you only get *.a static libraries.

[2020-05-18 23:19] ducbueno commented on #14
@vmalia thanks a lot! That solved the issue.

I'm still very new to CMake, so that was not obvious at all to me.

[2020-05-18 23:20] vmalia commented on #14
Happy to help and glad to have you here :)
Closing the issue now.

[2020-05-18 23:20] #14 closed

[2020-05-27 23:08] ducbueno opened #22 "oneMKL full code examples"
Hello.

Does anyone know where I can find full oneMKL code examples?

Intel MKL (not oneMKL) comes with some SYCL examples, however there are some discrepancies between their syntax and the oneMKL syntax as given in the oneAPI spec (https://spec.oneapi.com/versions/latest/index.html). Just to give an example, in the Intel MKL SYCL examples the `mkl::sparse::init_matrix_handle` function is used for

[2020-05-28 01:04] spencerpatty commented on #22
Hi, good question.  I will start broad and then work down to your specific example.

As we are building up the oneMKL specification, unfortunately some discrepancies have arisen between the Intel MKL product and the oneMKL specification.  In fact there are three different products which are related, but actually distinct and each have their own documentation which is consistent with the product:
-

[2020-05-28 18:09] ducbueno commented on #22
Hello @spencerpatty. Thank you for the very complete answer! It was very illuminating.

I took little while to respond to digest everything you said.

So, just to check if I got things right:

1) Basically, the Intel oneMKL product and the oneMKL Open Source Project are implementations of the oneMKL specification, with the difference that the former is targeted specifically to Intel hardware while

[2020-05-28 19:21] ducbueno commented on #22
oneMKL Open Source Project doesn't seem to support sparse BLAS libraries :(. Would it be too hard to add it?

[2020-05-28 19:40] spencerpatty commented on #22
Hi @ducbueno.

It is essentially correct **if you are talking about DPC++** functionality.  The oneMKL open source project may use the Intel oneMKL product for x86 CPUs or for Intel GPUs or could use other implementations for these same hardware and also support other hardware and libraries.  It is intended to be a community project to unify the disparate approaches under a single specification wh

[2020-06-03 04:05] jasukhar commented on #22
Hi @ducbueno , hopefully we addressed your questions. If something is not clear yet, let us know.

[2020-06-03 04:05] #22 closed

[2020-06-03 22:34] mhoemmen opened #23 "Dense linear algebra functions need encapsulations for matrices and vectors"
# Summary

oneMKL's dense linear algebra functions should provide or use classes that encapsulate matrices and vectors, instead of taking vectors and matrices as 1-D `sycl::buffer` or raw pointers.  This would improve memory safety and usability, and make the interface more idiomatically C++.  It would also better align with the various linear algebra proposals currently being considered for the C

[2020-06-04 14:01] jasukhar commented on #23
Thank @mhoemmen for very well described proposal. We will take a look what can be done in this area and get back to you.

[2020-06-05 06:43] paravoid commented on #22
Thanks for the extensive clarifications. The distinction between this project ("oneMKL open source project") and the ex-Intel MKL, now "oneMKL product" confused me quite a bit as well. I wondered whether this was all temporary as well, with the intention being to converge everything into this project?

I suppose it's too late to disambiguate all this with different branding, but perhaps it would b

[2020-06-05 16:16] jasukhar commented on #22
Hi @paravoid! Agree, it may be a common confusion point. We will update the documentation to explain the difference.

[2020-06-05 16:34] mhoemmen commented on #23
Another option could be just to drop the interface that takes `sycl::buffer`.  New users would be likely to try 2-D buffers, then wonder why their code doesn't compile.  More importantly, if you offer a matrix extension of `sycl::buffer`, and if your matrix class can handle strided noncontiguous data (as it needs to, in order to support current BLAS and LAPACK functionality), then you'll find your

[2020-06-05 23:00] petercad commented on #23
Hi Mark, thanks for putting this request together! I agree with you completely that `sycl::buffer` isn’t a reasonable vector/matrix abstraction and we’re really using it here as a smart pointer of sorts. Our presumption, in fact, was that most users would prefer the pointer-based API, but buffers were the only option in the existing SYCL 1.2.1 spec.

Our goal for v1.0 of the oneMKL specification i

[2020-06-05 23:03] petercad commented on #23
Also, I wanted to mention we are hosting the oneMKL specification [as part of the oneAPI specification](https://github.com/oneapi-src/oneapi-spec), so let's move the discussion to a new issue there.

[2020-06-08 01:13] mhoemmen commented on #23
@petercad wrote:

Sort of?  `sycl::buffer` only permits direct array access through an accessor.  `basic_mdarray` doesn't have an interface for getting an accessor.  Perhaps it should?  Now would be a good time to contribute to P1684 if you think it should change.

The 1-D `sycl::buffer` interface to BLAS algorithms isn't useful for implementing LAPACK algorithms, because there's no way to say "I'

[2020-06-08 09:35] Ruyk commented on #23
In SYCL 1.2.1, you can create sub-buffers from buffers, would that not be enough? what is missing to the sub-buffer functionality to make it happen?

[2020-06-08 16:12] mhoemmen commented on #23
@Ruyk wrote:

"Sub-buffers must be constructed from a contiguous region of memory in a buffer." -- SYCL 1.2.1 specification, Section 4.7.2, last (text) paragraph.  Matrix factorization algorithms (what the BLAS was designed to support) need to be able to address submatrices that have noncontiguous storage in general.

Giving the entire buffer to all the BLAS algorithms that make up a matrix factor

[2020-06-08 20:31] Ruyk commented on #23
It could be possible to add non-contiguous sub-buffers to SYCL. A SYCL implementation can implement this on top of OpenCL (as long as sub-buffers are non-overlapping) with varying degrees of success. Other backends, such as CUDA, can implement this easily.
Would that make the buffer interface more useful?

[2020-06-09 22:14] mhoemmen commented on #23
@Ruyk Noncontiguous sub-buffers would indeed make oneMKL's proposed buffer interface more useful.  I haven't been following the SYCL standardization process, so I don't know if there are proposals in flight to support noncontiguous sub-buffers.  Regardless, it would make sense.

[2020-06-15 21:38] jasonsewall-intel opened #25 "[CUDA] Add support for cuSparse"
oneMKL provides support for sparse BLAS operations, and NVIDIA provides an interface to sparse BLAS operations optimized for their hardware in the [cuSparse](https://docs.nvidia.com/cuda/cusparse/index.html) library. Much as oneMKL provides support for cuBLAS, I propose it add support for cuSparse.

The unified interface provided by oneMKL will be much more convenient for users interested in perfo

[2020-06-15 21:58] jasukhar commented on #25
Hi @jasonsewall-intel!
oneMKL open source project doesn't contain at this moment Sparse interfaces, but we plan to add them in the future. With that cuSparse can be enabled under DPC++ APIs similarly as it was done for cuBLAS. We also encourage to contribute to open source and help us enable new interfaces, libraries and HWs. If you are interested, we can inform you once Sparse DPC++ APIs are avai

[2020-06-30 16:08] fboemer opened #27 "Add DFT support"
# Summary
Add support for discrete Fourier transform.

# Problem statement
The [onemkl api](https://spec.oneapi.com/versions/latest/elements/oneMKL/source/domains/dft/mkl-dft-descriptor-mkl-dft-precision-mkl-dft-domain.html) shows the API for the DFT. However, I'm unable to find the necessary `mkl_dfti_sycl.hpp` referenced there.

# Preferred solution
An example of using onemkl with DFT.

[2020-06-30 16:41] jasukhar commented on #27
Hi @fboemer!
oneMKL open source has only BLAS support at this moment. oneMKL open source follows oneMKL spec, but it can lagging behind the spec. We plan to enable FFT in open source in the future. If you are interested in example at this point, you can check [Intel oneMKL](https://software.intel.com/content/www/us/en/develop/tools/oneapi/components/onemkl.html) binary implementation for CPU and G

[2020-07-02 22:43] cheers00 opened #28 "is MKL now open?"
It appears like you have open sourced MKL library for sgemm. Thanks

[2020-07-03 01:15] vmalia commented on #28
Hi @cheers00 ,

MKL sgemm implementation is not open sourced. This project provides wrappers that can be used with sgemm implementation of your choice, MKL sgemm or some other, to run on a hardware of your choice, CPU or GPU. Check the README.md for details about supported backends and hardware platforms. You can check the below comment to understand the difference between different oneMKL product

[2020-07-17 16:43] vpascuzz opened #30 "oneapi-src/oneMKL and RNG"
[Possibly related to #8.]

I am having some troubling experience with oneAPI and oneMKL. To build my application against oneMKL from oneAPI/beta07 using [intel/llvm (1b762a8)](https://github.com/intel/llvm/commit/1b762a86f156c1e8d00cff76b0b94e7b57094e15), it seems that I need
[code]
[UPDATE]
I can actually build with just:
[code]

At first, I thought I found the perfect configuration, but it turns

[2020-07-17 18:22] vpascuzz commented on #30
RNG aside, this large virtual memory usage comes from instantiating a `cl::sycl::device`, `cl::sycl::queue` or `cl::sycl::context` in code. Not sure if this is expected...

[2020-07-17 21:15] #28 closed

[2020-07-17 21:21] jasukhar commented on #22
Hello @paravoid ! FAQ was updated in commit db6bc08 to address your question.

[2020-07-18 00:47] mkrainiuk commented on #30
Hi @vpascuzz!

Let me try to define 3 problems that you observed:
1)  If I understand correctly you built DPC++ compiler from LLVM repo and want to use it with oneMKL from beta07. Since we still in beta stage as far as I know Intel DPC++ compiler from beta07 can be not compatible with DPC++ compiler built from LLVM repo. As the result mkl_sycl library built with DPC++ compiler from beta07 can be n

[2020-07-28 13:55] edwards-nag opened #34 "oneMKL Specification Versioning Strategy wording"
# Summary
The wording for the MINOR count in the oneMKL Specification Versioning Strategy is confusing.

# URLs
https://spec.oneapi.com/versions/latest/oneAPI-spec.pdf section 13.1.5.1

# Additional details
Wording for MINOR count mentions deleting APIs but "without breaking backwards compatibility". Should deleting APIs only occur with an increment in the MAJOR count?

[2020-07-28 18:36] spencerpatty commented on #34
Hi Edward,

What you describe "deleting APIs only occur with an increment in the MAJOR count" is the current intent of this statement.  Any deletion of apis or functionality should happen at MAJOR counts.  That means that when a case for removing an api comes up, we will mark it as deprecated (still a process we are working out for the spec) and then hopefully be able to align the removal with oth

[2020-07-28 19:25] jasukhar commented on #30
@vpascuzz do you still need help on this issue? As Maria clarified, this open source project doesn't support RNG. However you can use RNG if you work with Intel oneMKL beta07 directly (without this open source project). If you need further help here with open source BLAS,  please reply to 1 and 2 questions from @mkrainiuk  post. if you have questions about Intel oneMKL beta07 as a binary product,

[2020-07-28 19:26] spencerpatty commented on #34
We will update the language in the spec to be inline with this intent.

[2020-07-28 20:28] vpascuzz commented on #30
Thanks for the reply, @mkrainiuk!

The beta07 version of MKL links fine with a custom llvm build. And anyway, I can't use the beta07 compiler as it doesn't contain the CUDA plugin interface.

Thanks for this. I wasn't sure if this applied only to CUDA or not.

It turns out this is not related to the linked libraries; any piece of code that has a `cl::sycl::{queue,device,context}` would do it. E.g.

[2020-07-29 23:58] mkrainiuk commented on #30
Hi @vpascuzz,

1. Oh, I see, but just to clarify, oneMKL from beta07 also doesn't support CUDA backend. We plan to enable it for RNG as part of opensource oneMKL project only.
3. Well, but it's still a problem.

@bader, do you aware of any large virtual memory usage problems in application with sycl objects in case of using compiler with CUDA backend?

[2020-07-30 14:55] edwards-nag commented on #34
Hi Spencer,

That makes sense, thanks.

Edward

[2020-07-30 16:43] edwards-nag opened #35 "API to return oneMKL version number?"
# Summary
Should there be an API, callable from both dispatcher (libonemkl.so) and underlying backend libraries to report the oneMKL version supported by each library?

# Problem statement
Using oneMKL could involve libraries from multiple vendors (or other sources) to provide backend libraries for different devices. How can a user easily detect if the versions involved are inconsistent with one a

[2020-07-30 17:15] edwards-nag opened #36 "Static library version of libonemkl.so"
Will a static library version of the dispatcher libonemkl.so (with the same PIC versions of the objects as in the shared library) be provided? I'm not sure if linking with a static library make sense for oneMKL, but even if it doesn't, this static library may be useful for making custom oneMKL shared libraries, similar to this for regular Intel MKL.

https://software.intel.com/content/www/us/en/de

[2020-07-30 17:41] mkrainiuk commented on #36
Hello @edwards-nag,
libonemkl.so is more like [MKL single dynamic library](https://software.intel.com/content/www/us/en/develop/documentation/mkl-linux-developer-guide/top/linking-your-application-with-the-intel-math-kernel-library/linking-quick-start/using-the-single-dynamic-library.html) in this case, it contains only runtime dispatcher that loads backend libraries based on the targeted device,

[2020-07-31 09:26] edwards-nag commented on #36
Hi Maria,

OK, thanks for the info.

[2020-07-31 12:53] vpascuzz commented on #30
Hi, @mkrainiuk.

The large virtual memory is also observed without the CUDA backend.

[2020-08-02 14:37] vpascuzz commented on #30
As per [intel/llvm#2211](https://github.com/intel/llvm/issues/2211), oneMKL-beta08 appears to be compatible with my build ([1b762a8](https://github.com/intel/llvm/commit/1b762a86f156c1e8d00cff76b0b94e7b57094e15)) and another (built by someone else on 2020-07-23; not sure which commit it's based) of llvm.

I will keep this issue open in case anyone wants to follow up on the observed (seemingly larg

[2020-08-03 14:08] jasukhar commented on #35
Hi @edwards-nag ! Thanks for the proposal! That makes a lot of sense, we will plan to add this features.

[2020-08-03 15:32] jasukhar commented on #30
Hi @vpascuzz ! Virtual memory allocation issue should be submitted against  [intel/llvm](https://github.com/intel/llvm). Do you want to open issue yourself? if not, I can submit it on your behalf. Please let me know how you want to proceed

[2020-08-03 15:40] vpascuzz commented on #30
Hi, @jasukhar.

It looks like it's an isolated issue; I see it on one machine with the llvm built from https://github.com/intel/llvm/commit/1b762a86f156c1e8d00cff76b0b94e7b57094e15 but not on another machine with a more recent revision.

I will open the issue myself if I see the behavior again. For now, I think it's safe to say there's no problem.

[2020-08-03 15:40] #30 closed

[2020-08-12 13:54] edwards-nag commented on #35
Thanks @jasukhar

[2020-08-17 18:15] #36 closed

[2020-09-15 19:48] #8 closed

[2020-09-15 20:26] vpascuzz commented on #8
Thanks!

[2020-10-03 13:09] vrpascuzzi opened #49 "Couldn't load selected backend"
I've compiled intel/llvm ([a7ad8b8](https://github.com/intel/llvm/commit/a7ad8b8caab43ffe3540dc94692859c0ad3130e8)) for CUDA:
[code]
and using it built oneapi-src/oneMKL (f805087) against oneAPI/mkl/beta08 (beta09 wasn't supported in this revision):
[code]
I'm using CUDA 10.2 > 10.0 so should be compatible. To compile the test program (below):
[code]
the test compiles cleanly, but when running I g

[2020-10-05 15:42] aelizaro commented on #49
Hi @vpascuzz,

I am glad to see, that you are using RNG functionality!
There are two problems as I understand:
1) RNG domain currently enabled only for mklcpu and mklgpu backends, in order to enable cuda backend - separate wrappers should be added for any cuda supported implementation. We will update the support matrix to stress this and change the error message from backend not found to unsupport

[2020-10-06 12:56] vpascuzz commented on #49
Hi, @aelizaro.

So, even if built with a CUDA-supported llvm compiler, I shouldn't expect the RNG domain to work on CUDA devices? Is there a timeline for having CUDA RNG supported?

For various reasons, I rely mostly on intel/llvm compiler builds -- I use the oneAPI beta releases on occasion when I need to do some cross-checks. In any case, it seems for the time being that `onemkl_rng_mkl{cpu,gpu}

[2020-10-12 16:37] aelizaro commented on #49
Hi @vpascuzz,

Sorry for the delayed response. We don't have a plan to enable CUDA RNG currently, but we want to encourage the community to contribute to enable other backends. It would be great if you want to participate in this activity! We have a detailed guide on [how to enable third-party libraries](https://github.com/oneapi-src/oneMKL/blob/master/docs/create_new_backend.rst) and would be gla

[2020-10-22 21:58] vpascuzz commented on #49
Hi, @aelizaro.
Thanks for the info! Let me get back to you with my availability to work on supporting CUDA.

[2020-11-12 17:00] vrpascuzzi commented on #49
I will start on this in the next couple of weeks.

Thanks for the help!

[2020-11-12 17:00] #49 closed

[2020-11-19 06:28] paravoid commented on #12
Was this resolved with 82b9cdc3e88de42515a20829047e718faa451339?

[2020-11-19 07:06] mmeterel commented on #12
Hi @paravoid , Yes, we have enabled NETLIB backend for BLAS domain. Pls let us know if you have any feedback.

[2020-11-23 17:52] #12 closed

[2020-11-24 19:54] colleeneb opened #57 "Compile-time error trying to build code and run tests"
# Summary

I'm seeing a compile-time error when I try to build and run the tests. Any insight or tip about what I'm doing wrong is appreciated!

# Version
This is with oneMKL pulled from github, git commit `596ba0a7ce75547698a311f607629bbd4fac03ac`

# Environment

* HW you use: Iris Gen9
* Backend library version: OpenCL
* OS name and version: linux, openSUSE, 15.2
* Compiler version:
[code]

# St

[2020-11-25 22:31] mkrainiuk commented on #57
Hi @colleeneb, it could be a problem with the way how we select devices to test, so far we build tests for all available devices, but Host is not fully supported in DPC++. As a workaround, please try to add `export SYCL_ENABLE_HOST_DEVICE=1 ` to your build command, it should enable Host.

[2020-11-30 13:47] colleeneb commented on #57
Thanks for the tip! That did allow the tests to all compile and run!

[2020-11-30 16:25] colleeneb commented on #57
Do you expect this flag to be needed in the future? Or should it work without the flag at some point?

[2020-12-02 18:08] vrpascuzzi opened #59 "Improper namespace for BLAS domain"
# Summary
Namespace scopes in oneAPI are of the form `oneapi::mkl::domain`, e.g. `oneapi::mkl::blas` and `oneapi::mkl::rng`. In oneMKL, the RNG domain libraries are of the form `oneapi::mkl::rng::library`, e.g. `oneapi::mkl::rng::mklgpu`.

# Problem statement
The namespace convention in oneMKL differs between the BLAS and RNG domain libraries; where BLAS uses `oneapi::mkl::library` for library nam

[2020-12-04 13:26] vrpascuzzi commented on #57
@mkrainiuk Isn't Host device supposed to be _always_ available? I thought it's main purpose was to serve as a fall-back device when neither OpenCL or Level-Zero are available, i.e. it should _always_ supported.

[2020-12-04 18:50] vmalia commented on #59
Thank you @vrpascuzzi ! We indeed missed "blas" namespace there. If you have a patch, feel free to open a PR. If not, we will fix it soon.

[2020-12-04 18:56] vmalia commented on #34
Changes merged. Closing.

[2020-12-04 18:56] #34 closed

[2020-12-07 15:50] vrpascuzzi commented on #59
Thanks for following up, @vmalia. I will get to it this week.

[2020-12-10 05:47] mkrainiuk commented on #57
No, it should work without any additional flags.

I agree, but as far as I know current implementation has some limitations, so we need to improve our testing a little bit.

[2020-12-10 12:29] storypku opened #64 "PyPI package mkl==2021.1.1 takes up too much space"
# Summary

MKL library installed via `pip3 install mkl==2021.1.1` has duplicate shared library (so) entries and  takes up too much space on disk, which, when built into Docker images, will increase significantly the final image size.

# Version
mkl == 2021.1.1 release

# Environment
Ubuntu Linux 18.04/20.04
Python3.6/Python3.8
pip3 20.3.1

# Steps to reproduce

[code]

# Observed and Expected beha

[2020-12-10 16:18] vmalia commented on #57
Hi @vrpascuzzi @colleeneb

The DPC++ compiler added an environment option "SYCL_DEVICE_TYPE" to force a specific device (https://github.com/intel/llvm/blob/sycl/sycl/doc/EnvironmentVariables.md#controlling-dpc-rt). Under normal use-cases, the default device selector should return the requested device. If the device is not available/does not exist, a C++ exception is thrown that can be caught. "hos

[2020-12-10 16:25] vrpascuzzi commented on #57
@vmalia,
Thanks for the info. However, this unfortunately seems to contradict Appendix C, Host backend specification, of the SYCL 2020 provisional specification:

_"At least one SYCL host device must be exposed in the SYCL host backend in all SYCL implementations, and it must always be available."_

Is it planned to remove this requirement in the final specification? Or is it up to the developer t

[2020-12-10 17:36] vmalia commented on #57
@vrpascuzzi

Yes, it is planned to remove this requirement in the final spec.

Updated language: "An implementation must guarantee that some device is available."
--> For DPC++ compiler, that’s the CPU.

Reasoning:
The host device in SYCL 1.2.1:
1. Didn’t properly deal with all the parallel constructs
2. Was abysmally slow.
3. Confused people with “host device” vs “host code”

SYCL 2020 fixes it a

[2020-12-10 18:20] vmalia commented on #64
Hi @storypku

I verified the issue you mentioned. You are right - the .so files should be symlinks only. This issue does not exist in the direct installation from the oneAPI website though.

I will pass on the bug report to the concerned team within Intel, however, this bug is not related to this project. It is related to the oneAPI MKL product (https://software.intel.com/content/www/us/en/develop

[2020-12-10 18:20] #64 closed

[2020-12-11 00:54] storypku commented on #64
@vmalia , Thank you for your  prompt response. I will try alternative options you mentioned before this issue got finally resolved.

Regards,
Liu Jiaming

[2020-12-14 21:21] #57 closed

[2020-12-15 02:32] colleeneb commented on #57
Even with commit 5d11b4e8fe6e6b538794f79e8b4a69382f2ceab1, I still need `SYCL_ENABLE_HOST_DEVICE=1` to compile everything. So this still isn't fixed without `SYCL_ENABLE_HOST_DEVICE=1`, is that expected?

[2020-12-15 07:33] mkrainiuk commented on #57
Hi @colleeneb ,
It's not expected, this commit should remove device duplication for gtests and fix the problem.
After this commit I was able to build it successfully without `SYCL_ENABLE_HOST_DEVICE=1`.
Do you see the same error message? Did you try to build it from scratch?

[2020-12-16 16:28] colleeneb commented on #57
You're right! It builds, but now I see a lot segfaults when running `ctest` on Gen9. I'll look into it more and submit another issue if necessary. Thanks!

[2020-12-23 17:13] vmalia commented on #57
Thanks @colleeneb,
Test segfaults with oneAPI Gold release are known and we are working to fix them.

[2020-12-24 21:52] #59 closed

[2021-01-04 22:01] mkrainiuk opened #67 "oneMKL runtime API tests fail with seg fault on GPU with Level0 driver"
# Summary
oneMKL runtime API tests fail with seg fault on GPU when DPC++ compiler uses Level0 as a backend (default behavior)

# Version
The problem appeared with Intel oneMKL and DPC++ compiler update to 2021.1.

# Environment
The issue can be reproduced with:
* HW: Intel GPU (Gen9)
* OS: Ubuntu 18.04
* Intel oneMKL version:  2021.1
* Intel DPC++ Compiler version: 2021.1

# Steps to reproduce
On

[2021-01-05 00:04] petercad commented on #23
Closing this issue for now due to lack of activity (feel free to open new issues [here](https://github.com/oneapi-src/oneapi-spec)). Internally we will soon be working on a new, more C++-idiomatic, BLAS-like interface that can be called within user-written device code, and will welcome feedback on it.

[2021-01-05 04:32] mhoemmen commented on #23
@petercad I'm glad you're working on a more idiomatic C++ interface!  I'll be happy to help review it.  Please do consider using `basic_mdspan` as a low-level representation of matrices and vectors!

[2021-01-05 15:21] petercad commented on #23
@mhoemmen I agree, `basic_mdspan` and a free function interface will be my first choice.

Outside of device code, I don't see any real impediments to implementing P1673 (with either buffers or USM) directly.

Inside of device code, to fit the SYCL programming model, we'll typically want multiple logical threads (-> SIMD lanes/cores) to cooperatively perform operations, so the interfaces will need

[2021-01-05 22:49] vrpascuzzi opened #68 "os.errno deprecated as of Python 3.7"
# Summary
The helper scripts for template generation -- e.g. [`scripts/generate_wrappers.py`](https://github.com/oneapi-src/oneMKL/blob/master/scripts/generate_wrappers.py) -- use `os.errno` which has been deprecated as of Python 3.7. Moreover, according to this [Python bug tracker discussion](https://bugs.python.org/issue33666), `os.errno` should not be used; rather, the `errno` module is recomme

[2021-01-06 00:12] #23 closed

[2021-01-06 00:22] #68 closed

[2021-01-06 23:34] mhoemmen commented on #23
@petercad wrote:

Would P1673's `ExecutionPolicy&&` argument (where `ExecutionPolicy` is whatever you need to pass in) cover this use case?  (For instance, you could pass in something that represents a group of threads.)  If not, then please let's talk about how P1673 could change to support your needs.  (You're literally a [wg21.link/p1673](coauthor of P1673), right?)

Earlier versions of P1673 a

[2021-01-07 20:55] kkm000 opened #70 "Wrong compiler lib directory inferred in VS16 toolset v142 intergration .props/.targets files"
# Summary
Part of directory path (relative) for compiler libraries hardcoded into `MSBuild\Microsoft\VC\v160\Platforms\x64\PlatformToolsets\v142\ImportAfter\Intel.Libs.oneMKL.v142.props` does not match actual installation directory of the compiler libraries.

# Version
`w_onemkl_p_2021.1.1.52_offline.exe`

# Environment
VS16.8.3
Building x64 target

# More details
Right out of the box, after insta

[2021-01-09 18:01] vrpascuzzi opened #71 "Refactor build rules for unit tests"
# Summary
Enabling `BUILD_FUNCTIONAL_TESTS` compiles unit tests in both `rng` and `blas` domains.

# Problem statement
If working in a single domain with `BUILD_FUNCTIONAL_TESTS` enabled, irrelevant unit tests are compiled, adding a non-negligible overhead in build times. For example, if one is working exclusively in the `rng` domain and enables `BUILD_FUNCTIONAL_TESTS`, `blas` unit tests are comp

[2021-01-09 18:36] vrpascuzzi opened #72 "Could NOT find cuBLAS (missing CUBLAS_INCLUDE_DIR)"
# Summary
Building with the `cublas` back-end fails to find `cuBLAS` library:
[code]
causing the `cmake` configuration to fail. This is due to the fact that [`CMAKE_CUDA_TOOLKIT_INCLUDE_DIRECTORIES`](https://cmake.org/cmake/help/latest/variable/CMAKE_CUDA_TOOLKIT_INCLUDE_DIRECTORIES.html) is not defined by default.

# Version
0.1.0, a99dde887

# Environment
CUDA: cuda/10.2
Compiler: intel/llvm@6ca

[2021-01-11 16:18] jasukhar commented on #70
Hi @kkm000 !
Thanks for bringing the issue. However as you mentioned this issue is not related to open source product and more appropriate place for Intel oneMKL binary product will be [a forum](https://community.intel.com/t5/Intel-oneAPI-Math-Kernel-Library/bd-p/oneapi-math-kernel-library). While I'm closing this issue as not related to this project, I will forward it internally to responsible te

[2021-01-11 16:18] #70 closed

[2021-01-11 17:45] vmalia commented on #71
Thanks @vrpascuzzi

We have this task in our todo list, but if you have a patch, feel free to open a PR.

[2021-01-11 18:37] vrpascuzzi commented on #71
@vmalia,

I'm currently working on adding `cuRAND` to the `rng` domain. Maybe it'll make more sense -- and eliminate doing things twice -- once it's about ready. It may also make more sense at that point to combine `cuBLAS` and `cuRAND` into a common `CUDA` back-end, similar to `mklgpu` and `mklcpu`.

The difference between 1 and 2 is the former would keep the existing setup and only requires a li

[2021-01-11 19:01] mkrainiuk commented on #71
@vrpascuzzi, by combining cuBLAS and cuRAND  do you mean from the build options naming perspective?
Do you think it makes sense to split not only test but build completely for domains? Because I believe to work with RNG domain we don't really need to build BLAS at all.

[2021-01-11 19:43] vrpascuzzi commented on #71
@mkrainiuk,

I agree -- one should be able to build _only_ back-ends and tests from the domain they wish. The problem here is that currently [`tests/unit_tests/include/test_helper.hpp`](https://github.com/oneapi-src/oneMKL/blob/master/tests/unit_tests/include/test_helper.hpp) uses the same `func` for `mklxpu` so all tests are built for both `rng` and `blas` domains. My thinking of combining cuBLAS

[2021-01-12 17:38] kkm000 commented on #70
Thanks for the pointer @jasukhar!

[2021-02-03 22:59] vmalia commented on #71
Hybrid solution using option 2 and 3 from the proposed solutions was implemented and merged. Closing this issue.

[2021-02-03 23:00] #71 closed

[2021-02-18 02:48] raaid-tanveer opened #77 "Intel oneAPI Installation Not Working"
I have been trying to register myself on Intel's Developer Zone to get access to the oneMKL library, but the download page is sending me back to the registration form every time. Is there any workaround to downloading oneMKL without registering first on Intel?

[2021-02-18 13:22] rscohn2 commented on #77
Click 'continue as guest' instead of logging in.
<img width="560" alt="Untitled" src="https://user-images.githubusercontent.com/1936730/108363001-6f4f6380-71c2-11eb-82ae-c5d3a8e56c01.png">

[2021-02-19 00:14] jasukhar commented on #77
@raaid-tanveer please let us know if any further help needed. This project doesn't cover oneMKL binary product and the better way to escalate issues is [oneMKL Forum](https://community.intel.com/t5/Intel-oneAPI-Math-Kernel-Library/bd-p/oneapi-math-kernel-library). You can read more about difference between oneMKL interfaces project and Intel oneMKL release [here](https://github.com/oneapi-src/oneM

[2021-02-19 00:14] #77 closed

[2021-02-26 21:50] pghysels opened #79 "oneapi::mkl::lapack::getrf pivot vectors are wrong"
# Summary
The oneapi::mkl::lapack::getrf routine takes a std::int64_t pointer for the pivots.
But the output for the pivots seems wrong. It looks like they are generated as 32 bit numbers.
The corresponding getrs code works with the output from oneapi::mkl::lapack::getrf.

# Version
oneapi/2020.12.15.005

# Environment
* Intel(R) Xeon(R) Gold 6226R CPU @ 2.90GHz

# Steps to reproduce
[code]

# Obs

[2021-02-26 23:17] sknepper commented on #79
Thank you for the detailed bug report, including a reproducer!  This project doesn't cover oneMKL binary product and the better way to escalate issues is the [oneMKL Forum](https://community.intel.com/t5/Intel-oneAPI-Math-Kernel-Library/bd-p/oneapi-math-kernel-library). You can read more about difference between oneMKL interfaces project and Intel oneMKL release [here](https://github.com/oneapi-sr

[2021-02-26 23:17] #79 closed

[2021-02-27 01:53] sknepper commented on #79
We took a look, and it seems like the link line may be incorrect.  Please consider using the [Link Line Advisor](https://software.intel.com/content/www/us/en/develop/tools/oneapi/components/onemkl/link-line-advisor.html) to configure the link command according to your program features.  In particular, Intel® oneAPI Math Kernel Library for DPC++ only supports using the mkl_intel_ilp64 interface lib

[2021-02-27 02:47] pghysels commented on #79
Hi. Thank you. That does indeed solve the issue.

[2021-02-27 03:01] pghysels commented on #79
I'm sorry I didn't show my link line in the original post.
I have used the link line advisor before, it is a great tool.

In other parts of my code I use the original 32 bit fortran BLAS and LAPACK interfaces directly. I wonder how I will be able to combine both these 32 bit interfaces and the 64 bit oneAPI interfaces in a single library.

[2021-03-01 18:30] mkrainiuk commented on #79
Hi @pghysels, so far it's not possible, but we will investigate how we can enable mixing of lp64/ilp64 APIs in one library. Is it important to have 32 bit fortran API in your application?

[2021-03-01 18:50] pghysels commented on #79
The 32 bit Fortran interface is used extensively in our code. I could refactor this to make the BLAS/LAPACK integer size a template parameter or make it configurable at compile time. But this would require considerable changes.  We didn't think we would ever need 64 bit LAPACK.
This 32 bit interface is also used in some of our dependencies, for instance [SLATE](https://bitbucket.org/icl/slate/src/

[2021-03-09 18:03] #72 closed

[2021-03-13 19:11] vrpascuzzi opened #82 "hipRAND backend"
# Summary
We have Intel CPU, GPU and cuRAND backends for the RNG domain. Let's do one more and support AMD GPUs as well.

# Problem statement
oneMKL is missing RNG (and BLAS) for AMD GPUs.

# Preferred solution
Add support for hipRAND. Given the uncanny resemblance to cuRAND, I expect this will be a trivial amount of work.

[2021-03-13 19:11] vrpascuzzi commented on #82
Feel free to assign this to @vrpascuzzi!

[2021-03-15 01:01] vrpascuzzi commented on #82
OK, the `cmake` part is a bit of a pain...

[2021-03-15 17:12] vrpascuzzi commented on #82
Got a couple `generate` functions added and the library compiles. Trying to figure out an issue linking against it.

[2021-03-15 21:08] vrpascuzzi commented on #82
Everything is in order now: compiling, linking, running.

[2021-03-19 02:30] latifisalar opened #84 "Building with CMake fails in installation"
Hi there,

I am trying to install oneMKL using CMake on Ubuntu 18.04.
I have successfully finished the building step, and ctest is passing all the tests, however when I attempt to install using "cmake --install . --prefix ../install", it fails with the following error:

`-- Up-to-date: /data4/salar/oneMKL/install/include
-- Up-to-date: /data4/salar/oneMKL/install/include/oneapi
-- Up-to-date: /dat

[2021-03-19 10:35] vrpascuzzi commented on #84
Hi, @latifisalar.

Looks like something could've gone wrong during the build, as the library `libonemkl.so.0` does not exist. However, without knowing your environment, `cmake` command used to configure the build or the build output itself, it's hard to tell what went wrong.

Depending the backend you're targeting, you can try:
[code]

A few things to note:
  * You need an installation of oneAPI/o

[2021-03-19 18:09] mkrainiuk commented on #79
Thanks @pghysels, I will keep this issue updated with any information about enabling lp64/ilp64 mixing support in Intel oneMKL.

[2021-03-19 19:58] latifisalar commented on #84
Thanks @vrpascuzzi, a fresh clone and following the cmake recipe you mentioned solved my issue.

[2021-03-19 19:58] #84 closed

[2021-03-25 12:42] illuhad commented on #82
@vrpascuzzi fyi, we are also working on hipSYCL support in oneMKL (focus on BLAS for now), including AMD support.

[2021-03-25 13:04] vrpascuzzi commented on #82
I have it done just waiting on copyright details (bit me once already).

[2021-04-02 17:35] fzimmermann89 commented on #64
This issue got "solved" in a rather annoying way -- the .so files are now missing from the current pip wheel (no symlink is created instead), so gcc will not be able to find the libraries.

What would the proper channel be to report this?

Thanks,
Felix

[2021-04-02 20:13] mkrainiuk commented on #64
Hi @fzimmermann89, unfortunately pip wheel doesn't support symlinks (https://github.com/pypa/pip/issues/5919) so there is no way so far to do proper fix on our side. We removed files duplication to fix the package size, in [Get Started Guide](https://software.intel.com/content/www/us/en/develop/documentation/get-started-with-mkl-for-dpcpp/top.html) in "Step 1: Install Intel® oneAPI Math Kernel Lib

[2021-04-03 08:04] fzimmermann89 commented on #64
Thanks!
But it remains a bit annoying to get a pip package that needs mkl for building to work.

As a humble sugesstion: Could it be possible to create the symlinks when installing the mkl-devel package? That one is currently just a meta package, doesn't have to be a wheel but could have a setup.py that creates the symlinks. Then other packages could simply depend upon mkl-devel for building.

Thi

[2021-04-03 15:02] tomashek commented on #64
@fzimmermann89,
"Could it be possible to create the symlinks when installing the mkl-devel package?"
This is a good suggestion: a non-wheel that creates the symlinks. We have not found a way with wheels to do that. We will look into it. Thank you!

[2021-05-10 10:58] sbalint98 opened #89 "Rng mklcpu backend uses ambiguous kernel names"
# Summary
In the rng mklcpu backend in `philox4x32x10.cpp` the same kernel names are generated for both the USM and buffer API. This does not cause an error when using dpc++, but according to the SYCL standard, this is illegal and causes problems with some SYCL implementations, tested with hipSYCL.

# Observed behavior
For example, the kernels at line 328  and 68 in `philox4x32x10.cpp` appear to h

[2021-05-11 08:17] aelizaro commented on #89
Hi, @sbalint98, thank you for noticing this issue, I will fix it. Is this issue blocking you? If yes, I will do it as soon as possible.

[2021-05-11 08:33] sbalint98 commented on #89
Hi, @aelizaro thanks for the quick response. This issue is not critical for me.

[2021-05-11 08:41] aelizaro commented on #89
ok, thank you! Then I expect to fix it by the next week.

[2021-05-13 07:10] #89 closed, assigned to nobody

[2021-05-14 11:08] sbalint98 opened #91 "Compilation error when building cuRAND or cuBLAS tests"
# Summary
When compiling oneMKL with both tests and cuRAND or cuBLAS enabled a compilation error occurs.

# Version
The current oneMKL develop head is used eg: 1ed12c7270a68b78c29178ccc582d0239a4bd050

# Environment

* HW you use
Intel Gold 6130 CPU with Nvidia gtx1080 GPUs
* Backend library version
Cuda 10.0
MKL, and TBB obtained via intel installer version 2021.1.1
* OS name and version
Ubuntu 2

[2021-05-14 13:20] vrpascuzzi commented on #91
This is what I had in mind as well, [some time ago](https://github.com/oneapi-src/oneMKL/issues/71#issuecomment-758143281). I think the decision to keep RNG and BLAS domains separate was kept. Indeed, I found similar issues as you've reported; when building `cuRAND` alone without BLAS, a BLAS header was included in an installed file. I needed to tweak this by-hand.

In short, this can be fixed up

[2021-05-16 15:32] sbalint98 opened #92 "CUDA_ERROR_ILLEGAL_ADDRESS when using level1 and higher level rutines in the same queue"
# Summary

When submitting level 1 and higher-level kernels in the same queue, for the cublas backend ` CUDA_ERROR_ILLEGAL_ADDRESS` runtime error is thrown.

I believe this is due to the fact that for some of the level1 functions the pointer mode is set to `CUBLAS_POINTER_MODE_DEVICE` but it is never set back to the default value, `CUBLAS_POINTER_MODE_HOST`, therefore the device setting remains ac

[2021-05-16 16:19] sbalint98 opened #93 "Unit tests on Cuda device deplete the device memory"
# Summary

When running the unit tests on a Cuda device the tests fail since the GPU runs out of memory.

I am trying to run the tests on a gtx1080Ti with 11178MiB of global memory, but after executing the first few tests, a runtime exception is thrown because of insufficient device memory (`CUDA_ERROR_OUT_OF_MEMORY`) (see log below)

# Version
The current oneMKL develop head is used eg: 1ed12c7

[2021-05-18 19:12] mmeterel commented on #92
@sbalint98 Thanks for creating the issue and providing a reproducer. I will test this on my side and get back to you very soon.

[2021-05-18 19:13] mmeterel commented on #93
@sbalint98 Again, thanks for creating the issue. I will test this on my side and get back to you.

[2021-05-19 20:10] mmeterel commented on #93
@sbalint98 Here are my observations:

- I observe the same behavior when I test cuBLAS backend on my side as well. However, this only appears when I run gtest directly. I don't see the same issue when ctest is used.
- I also tested gtest and ctest on GEN9 GPU as well. For gtest, I observe similar memory leak, but the amount of leak is not large enough to break gtest on my GEN9 system. Ctest on GEN

[2021-05-19 21:20] sbalint98 commented on #93
Thank you for investigating. I find these results quite surprising I thought ctest is just a wrapper around gtest in this case. However I can confirm that using ctest works fine. Closing now.

[2021-05-19 21:20] #93 closed, assigned to mmeterel

[2021-05-20 17:41] #92 closed, assigned to mmeterel

[2021-05-20 19:33] mmeterel commented on #91
@sbalint98 Hmmm, I cannot reproduce what you are seeing. I tried several combinations locally and here is what I observe.

You are using the latest develop branch, right?

TARGET_DOMAIN | ENABLE_CUBLAS_BACKEND | ENABLE_CURAND_BACKEND | Build PASS/FAIL
-- | -- | -- | --
blas | ON | OFF | PASS
rng | ON | OFF | PASS
blas, rng | ON | OFF | PASS
&nbsp; | &nbsp; | &nbsp; | &nbsp;
rng | OFF | ON | PASS
b

[2021-05-21 16:39] sbalint98 commented on #91
Thank you for your investigation, unfortunately, I still have the same issue as described above. I am using the current HEAD of develop.

 I will try to do some more detailed exploration over the weekend. Could you provide the details of how you have executed cmake?

[2021-05-27 22:31] mmeterel commented on #91
Hello @sbalint98 , sorry for the delay.
Here are my steps to build. Please let me know if that helps.

llvm=llvm_version
lnx_cuda=/project/mmeterel/tools/dpc++/opensource/${llvm}/lnx_cuda
export CXX=${lnx_cuda}/compiler/bin/clang++
export LD_LIBRARY_PATH=${lnx_cuda}/compiler/lib:${LD_LIBRARY_PATH}

export REF_BLAS_ROOT=/project/mmeterel/home/.conan/data/lapack/3.7.1/conan/stable/package/9a51b86f57

[2021-06-03 08:37] Michoumichmich opened #97 "USM with sycl::half support"
Hello,
I built oneMKL with cuBLAS and everything works fine and all the tests passed. But still, I'm unable to pass matrices of `sycl::half` to `oneapi::mkl::blas::column_major::gemm` when using the USM syntax, the overload is not found. I get the following:
[code]

Am I doing something wrong? `sycl::half` works with the buffer syntax.

[2021-06-03 14:09] vrpascuzzi commented on #97
@Michoumichmich,

Quick look at [cublas_level3.cpp](https://github.com/oneapi-src/oneMKL/blob/develop/src/blas/backends/cublas/cublas_level3.cpp#L469-L474), seems what you're after is unfortunately not implemented for the USM API. My confusion is why you're not seeing an exception thrown.

@mehdi-goli may likely have more information.

[2021-06-03 14:19] Michoumichmich commented on #97
Hi, thanks for your answer, do you know if it's going to be implemented ? Yes, that's weird, I don't understand why the overload isn't matching though, as the same code works for floats and doubles.

I built oneMKL with

[code]

Here's the whole log
[code]

[2021-06-03 14:28] vrpascuzzi commented on #97
Thanks for the extra info.

Can you put `mkl_matmult_usm.cpp` somewhere we can view it?

[2021-06-03 14:30] Michoumichmich commented on #97
It's just the declaration that's missing in the header here https://github.com/oneapi-src/oneMKL/blob/develop/include/oneapi/mkl/blas/detail/cublas/onemkl_blas_cublas.hxx

[2021-06-03 14:34] vrpascuzzi commented on #97
Good catch! Explains why the `throw unimplemented("blas", "gemm", "for column_major layout");` isn't being called.

[2021-06-03 14:40] Michoumichmich commented on #97
Yes, it's missing for the other functions too (but I personally prefer the code to not compile than to throw exceptions^^)

[2021-06-07 21:43] mmeterel commented on #91
@sbalint98 Did you get a chance to try the commands I sent? Do you still see the issue?

[2021-06-08 18:50] cperkinsintel opened #98 "Be able to setup oneMKL with the open source intel compiler ( https://github.com/intel/llvm )"
# Summary
Presently the oneMKL setup revolves around a full oneAPI installation. It would be nice to be able to easily setup and build oneMKL with just the open source version of the intel compiler for SYCL ( https://github.com/intel/llvm ).

The Intel compiler for SYCL is built with CMake, Ninja and Python 3, and it has the user configure the various dependencies and backends themselves (LevelZer

[2021-06-08 18:54] jasukhar commented on #98
Hi @cperkinsintel! oneMKL already supports llvm compiler (see a readme), as well as have a choice to not use oneMKL binary release and use open source alternatives like netlib. Also for oneMKL binary download we use package managers and users can select conan for automation. Is anything missing?

[2021-06-08 18:55] vrpascuzzi commented on #98
@cperkinsintel,

This depends on the target. For example, cuBLAS and cuRAND _do_not_ require oneAPI whatever, and Netlib can be used for BLAS on x86. Since only the interfaces are open source, the Intel MKL library is required for Intel GPUs.

[2021-06-08 19:02] cperkinsintel commented on #98
AFAICT, the instructions here: https://github.com/oneapi-src/oneMKL#building-with-cmake  do not work with only the open source compiler.  It won't find TBB and the CMAKE script assumes TBBROOT is set, which would only be set by the oneAPI environment setup script.   But even if I trick it regarding TBB, it still has trouble.

[code]

[code]

[2021-06-08 19:26] jasukhar commented on #98
That's correct behavior see https://github.com/oneapi-src/oneMKL#notice-for-use-of-conan-package-manager. If Building with CMake, oneTBB and oneMKL packages must be installed manually. To have packages installed automatically we provide conan support

[2021-06-08 19:40] cperkinsintel commented on #98
@jasukhar  By "correct behavior" you are saying that oneAPI has to be installed to be able to use CMake to install oneMKL.  But that's what this issue is about.  It is a request to be able to install oneMKL with the intel open source SYCL compiler _instead_ of requiring a full oneAPI installation.

[2021-06-08 20:45] jasukhar commented on #98
You don't need to have a full installation. You can install only oneMKL and oneMKL installation will already include oneTBB. oneTBB is a hard dependency for oneMKL and we redistribute it as part of oneMKL standalone.

[2021-06-09 01:00] sbalint98 commented on #91
Sorry, for the very long delay, I will try the commands very soon, and get back to you.

[2021-06-09 06:03] mmeterel commented on #97
@Michoumichmich Thanks for reporting this issue and proving the detailed logs. And thank you @vrpascuzzi for your inputs.

As you have pointed out, half precision for GEMM USM API is currently missing and I am working on a PR to add this API (along with several new APIs for both Buffer and USM).

If that is ok with you, can we close this issue? I will let you know once the new APIs are integrated.

[2021-06-09 10:19] sbalint98 commented on #91
My problem was that I didn't use the `-DTARGET_DOMAINS` flag, and therefore all the domains have been added. Using that flag has solved my problem.

The issue I see right now, and the one that I have probably have encountered previously and you also noted in your table, arises when both rng and blas are targeted, and either the cuRAND or cuBLAS backends are enabled. In that case, the compilation f

[2021-06-09 10:39] Michoumichmich commented on #91
You can try the setup script I use [there](https://github.com/Michoumichmich/oneAPI-setup-script), but the combination is not supported yet for testing

[2021-06-09 11:17] Michoumichmich commented on #97
Of course, thanks a lot

[2021-06-09 11:17] #97 closed, assigned to nobody

[2021-06-09 11:25] sbalint98 opened #99 "Enable using oneMKL with hipSYCL"
# Summary
With a set of Pull requests, we would like to upstream changes to enable the use of oneMKL BLAS with hipSYCL. The changes and added features encompass the following:
* PR[#101] in case not compiling with dpc++ use of add_sycl_to_target cmake integration -
* PR[#102] Add the option to disable the functions using half data-types
* PR[#103] Use an additional layer of abstraction when invoki

[2021-06-09 15:11] sbalint98 commented on #91
I understand, thanks for the link and your help :)

[2021-06-09 15:11] #91 closed, assigned to mmeterel

[2021-06-09 15:28] jasukhar commented on #98
@cperkinsintel does it help to clarify  your question?

[2021-06-09 17:16] mmeterel commented on #99
@sbalint98
Thanks for all the PRs. I have a general question for my better understanding.
Could you please provide more information on what capabilities these PRs are adding? I guess I am not too familiar with hipSYCL, so it would be great if you can give some background. Do you have any future plans after these PRs? For example, will you be adding ROCm backend in the future? Are these PRs enablin

[2021-06-09 18:18] sbalint98 commented on #99
In general, the currently open PRs make small changes to make adding hipSYCL more elegant. After these (100-103) a last PR can be opend, that will add the actual hipSYCL specific details.

In order to enable adding hipSYCL the following changes are necessary, appart from the ones in #100:
#101 calls the `add_sycl_to_target` cmake command on all relevant targets when compiling for hipSYCL. This is

[2021-06-09 18:27] vrpascuzzi commented on #99
@sbalint98 A similar solution to #103 will be needed also for cuRAND. (I needed to use `hipsycl_enqueue_custom_operation` in my own work when requiring {hip,roc}RAND.)

[2021-06-09 18:36] illuhad commented on #99
In short: Yes, this is exactly what this is about :) We are currently working on porting oneAPI libraries to hipSYCL/AMD hardware, including oneMKL.

Apart from the benefit of additional hardware support, adding support for new SYCL implementations can also be beneficial to make the code more stable. For example, we found the bug from PR #96 by testing with hipSYCL (apparently, it does not show up

[2021-06-10 08:18] vitduck opened #106 "A better way to measure performance of SGEMM using cuBLAS backend"
# Summary
onMKL shows underwhelmed SGEMM performance for small matrices.

# Version
oneMKL v0.2

# Environment
* HW you use: NVIDIA V100
* Backend library version: CUDA/10.2
* OS name and version: CentOS 7.4.1708
* Compiler: Intel-llvm 2021-06-08

# Steps to reproduce
I attached the source files required to measure the performance of sgemm (GFLOPS).
Timing is obtained using std;:chrono.

# Observe

[2021-06-10 13:49] vrpascuzzi commented on #106
@vitduck,
Thanks for reporting this useful observation. Indeed, I discussed at some length with @mehdi-goli regarding this exact bottleneck. It's probably best he provides insight.

[2021-06-10 22:54] mmeterel commented on #99
@illuhad, @sbalint98

Thank you for your answers and clarifications. I still have a few questions. Do you think it would be possible to arrange a small meeting so that we can have a more in depth discussion? If that is ok, I can setup the meeting. You can reach to me directly at mesut.meterelliyoz@intel.com to discuss meeting details.

[2021-06-21 08:35] vitduck commented on #106
Performance (Gflops):
| n=m=k | cublas  |  oneMKL |
| -------- | ------- | --------- |
|   1024   | 10599  |      9.1     |
|   2048   | 11666  |     72.6    |
|   4096   | 12942  |      568    |
|   8192   | 13836  |     3411   |
| 16834   | 13376  |     9981   |

Cost of context creation can be offset by using sufficient large matrix.
Assuming that the cost of context creation is constant regard

[2021-06-22 03:09] #98 closed, assigned to nobody

[2021-06-22 03:10] jasukhar commented on #98
@cperkinsintel feel free to re-open if something wasn't addressed by the clarifications above.

[2021-06-22 15:45] mehdi-goli commented on #106
Thanks, @mkrainiuk, and @vrpascuzzi. I had a brief chat with @mkrainiuk and we believe that caching the CUDA context for reuse should yield better performance.

[2021-06-24 20:29] mmeterel commented on #106
@vitduck
#107 is merged. Any chance you can try your benchmark again?

[2021-06-24 20:40] mkrainiuk commented on #106
Please note #107 will improve time with removal of additional context creation, but we still have the main context. For main context we need to implement caching mechanism to get oneMKL performance as close to pure cuBLAS as possible.

[2021-06-25 02:00] vitduck commented on #106
I updated the performance.

| n=m=k | cublas  | oneMKL (0.2) | oneMKL (448e0e1) |
| ------    | ------  | -------------- | --------------------|
|  1024    | 10599 |      9.1            |            17.6             |
|  2048    | 11666 |     72.6           |          139.7             |
|  4096    | 12942 |     568            |        1057                |
|  8192    | 13836 |     3411          |

[2021-06-25 16:13] mmeterel commented on #106
@mkrainiuk Is anybody already working on caching mechanism? Can we open an issue to track it?

[2021-06-25 18:08] mkrainiuk commented on #106
I did small experiment with global context for one function to confirm this idea, and it did work. But I don't think somebody is working on the cache implementation yet. @mmeterel do you think we can track it as this issue or we need more specific one?

[2021-06-25 18:16] mmeterel commented on #106
@mkrainiuk I guess this issue is fine too, although the title of this issue does not reflect the scope of the work needed.  :)

[2021-07-13 18:00] aelizaro opened #110 "Update sycl:: functionality deprecated for 2020 specification"
# Summary

Align all sycl:: apis with sycl 2020 spec version

# Problem statement
llvm compiler have already added new APIs and deprecated old ones (Example: get_count() for sycl::buffer), but dpcpp compiler doesn't support new versions yet.

# Preferred solution
- Update functionality marked as deprecated in sycl 2020 to the new versions
- Remove SYCL2020_DISABLE_DEPRECATION_WARNINGS macro

[2021-07-13 18:14] mmeterel opened #111 "Enable context caching for cuBLAS backend to improve performance"
# Summary
As noted in #106, performance with cuBLAS backend is low and can be improved if CUDA context is cached.
Opening this issue as a tracker.

# Version
Appears in latest.

# Environment
cuBLAS backend

# Steps to reproduce
See #106

# Observed behavior
Running cuBLAS backend through oneMKL is slower than running cuBLAS directly.

# Expected behavior
Running cuBLAS backend through oneMKL shou

[2021-07-13 18:15] mmeterel commented on #106
@vitduck I opened #111 to track this issue with proper title :)

Are you ok closing this one?

[2021-07-19 20:18] mmeterel opened #113 "Expand unit tests for different stride options and malloc_device testing"
# Summary
Expand unit tests to cover different stride options (i.e. stride=0) where applicable.

Expand unit tests to cover malloc device testing.

# Problem statement
These additional tests will improve the stability and test corner cases.

[2021-07-19 20:24] mmeterel opened #114 "Investigate switching to external oneMKL DPC++ APIs for mklcpu/mklgpu backend"
# Summary
This issues is related to Intel oneMKL symbols used in mklgpu backend. Currently internal symbols are used to call oneMKL routines. However, these symbols can chance between releases, which will cause build failures in oneMKL open source interfaces.

# Problem statement
The internal symbols can change between releases and cause build failures.

# Details
Switching to external Intel oneMK

[2021-07-26 00:18] vitduck commented on #106
I am sorry for late reply. The issue can be closed.
Once again thanks for your time.

[2021-07-26 00:18] #106 closed, assigned to nobody

[2021-07-28 18:57] pghysels opened #116 "CMake issue, -fsycl-unnamed-lambda passed to C/Fortran compiler"
If I add
[code]
in CMakeLists.txt and run CMake with `-DCMAKE_CXX_COMPILER=dpcpp`,
 then I get these errors:
[code]
It does work when I add this ` -DCMAKE_C_COMPILER=icx  -DCMAKE_Fortran_COMPILER=ifx` when running CMake
but it still gives these warnings:
[code]

[2021-08-04 22:26] mkrainiuk commented on #116
@pghysels thank you for the input! I've transferred this bug into internal Intel oneMKL product bug tracking system. As it's not really related to oneMKL opensource interfaces project I will close it here, but we can update the status once we will fix it in Intel oneMKL product.

[2021-08-04 22:28] #116 closed, assigned to nobody

[2021-08-11 16:09] akabalov commented on #116
Hello @pghysels!
We made changes from oneMKL side. Fixes will be available in upcoming Intel oneMKL 2021.4 release.

[2021-08-11 17:07] pghysels commented on #116
Thanks!

[2021-08-26 15:19] illuhad commented on #82
@vrpascuzzi Can you give an update on the hipRAND backend? Do you still plan on contributing this?

[2021-08-31 14:22] zhangshuiyong opened #124 "Killed by signal 9 Problem about running HPL test of MKL in intel/oneapi-hpckit docker container"
I want to run hpl test script in docker container. I run the container like below the command:

`
docker run -d  --privileged -it intel/oneapi-hpckit
`

Then, I enter the container, run the below command:

`$ cd /opt/intel/oneapi`
`$ source setvars.sh --force`
`$ cd /opt/intel/oneapi/mkl/latest/benchmarks/mp_linpack`
`$ ./runme_intel64_dynamic`

When i am running hpl test of mkl in intel/oneapi-hp

[2021-09-07 15:14] jasukhar commented on #124
Hi @zhangshuiyong! Thanks for bringing this issue! However this issue is not related to oneMKL interfaces open source project but to our binary product which is not covered here.
To submit issue against Intel(R) oneMKL binary product please use the forum: https://community.intel.com/t5/Intel-oneAPI-Math-Kernel-Library/bd-p/oneapi-math-kernel-library
To learn about differences between oneMKL interf

[2021-09-07 15:14] #124 closed, assigned to nobody

[2021-09-08 08:29] zhangshuiyong commented on #124
@jasukhar Thx for your Info.

[2021-09-09 09:20] npmiller opened #127 "Building tests with both cuBLAS and cuRAND enabled hits compilation issues"
# Summary

Trying to build the tests with both cuBLAS and cuRAND backends enabled hit compilation issues.

# Version

Using the latest version: 19c43b0f68dcaba5bc518d5becdfa0097bebfa7c

# Environment

This should be pretty straightforward to reproduce in any environment but let me know if you need more details for this section.

# Steps to reproduce

The issue happens if all of these are provided:

[2021-09-30 01:45] Jerry-Ma opened #132 "Use LLVM libomp as the threading layer"
Hi,

I am using Intel oneAPI 2021.3 and it comes with a MKLConfig.cmake file that allows customized importing of MKL::MKL target.

However, when on macOS with brew installed llvm and libomp, the MKLConfig.cmake does not recognize the `libomp` as an option for the threading layer:

[code]

Inspecting the relevant section of code in MKLConfig.cmake, I found it checks only the GNU compiler, not LLVM:

[2021-10-01 00:01] jasukhar commented on #132
Hi @Jerry-Ma !
Thanks for bringing this issue! However this issue is not related to oneMKL interfaces open source project but to our binary product which is not covered here.
To submit issue against Intel(R) oneMKL binary product please use the forum: https://community.intel.com/t5/Intel-oneAPI-Math-Kernel-Library/bd-p/oneapi-math-kernel-library
To learn about differences between oneMKL interfaces

[2021-10-04 15:13] Jerry-Ma commented on #132
Thanks a lot for the detailed answer! I'll post the question in the forum then. I think this can be closed now. Thank you!

[2021-10-04 15:13] #132 closed, assigned to nobody

[2021-11-17 21:27] mkrainiuk commented on #67
Fixed in Intel oneMKL 2021.4 product

[2021-11-17 21:27] #67 closed

[2021-11-19 10:17] FRYoussef opened #142 "Error compiling a sample example for LLVM compiler and NVIDIA"
# Summary
I am trying to use oneMKL and the open-source LLVM compiler in an Nvidia GPU, the building and testing processes went fine. However, compiling a program with a "oneapi::mkl::blas::column_major::gemm" function fails at linking process.

# Version
* oneMKL at commit: [8193364b6992c86671437cf0750e154979eb66f4](https://github.com/oneapi-src/oneMKL/commit/8193364b6992c86671437cf0750e154979eb6

[2021-11-23 19:33] mkrainiuk commented on #142
Hi @FRYoussef! Looks like oneMKL library wasn't provided for the linker so it can't find oneMKL symbols. Could you please add `-L$<path to oneMKL build>/lib -lonemkl` to the compile/link line?

[2021-11-23 20:00] FRYoussef commented on #142
Hi Maria, thanks it worked.

I close this issue.

[2021-11-23 20:00] #142 closed, assigned to nobody

[2021-11-24 22:54] colleeneb opened #147 "Compilation error for `mklgpu/mklgpu_batch.cpp`"
# Summary

Using the name “MAJOR” here https://github.com/oneapi-src/oneMKL/blob/d06919ca0f1c675b170df94259f319eb1d020d5c/src/blas/backends/mklgpu/mklgpu_batch.cxx#L299 causes compiling problems with the version of DPC++ I have (`Intel(R) oneAPI DPC++/C++ Compiler 2022.1.0 (2022.x.0.20211025)`). It looks like the issue is because there’s a class named MAJOR which becomes MKL_COL_MAJOR from the `#d

[2021-11-25 09:43] rodburns commented on #142
@FRYoussef do you think this should be documented somewhere?

[2021-11-25 14:17] FRYoussef commented on #142
My confusion was because in the [Readme](https://github.com/oneapi-src/oneMKL#support-and-requirements) example section, the example is compiled with:

[code]
However, in my case, that did not work. I had to compile with:

[code]
So, maybe you could change how the Readme example is compiled.

[2021-12-02 18:14] andrewtbarker commented on #147
I can reproduce this error with a recent internal compiler. It does not appear when using dpc++ 2021.4.

[2021-12-02 20:45] mkrainiuk opened #148 "Add several working examples"
# Summary
Provide several examples that can be built and run.

# Problem statement
As it was mentioned in #142, [readme](https://github.com/oneapi-src/oneMKL#support-and-requirements) example section doesn't cover all link lines and it does not reflect all latest changes in compilers behavior. At least one or two full examples that users can build and execute will improve the experience with the p

[2021-12-02 20:47] mkrainiuk commented on #142
Thanks @FRYoussef for the feedback! I think we need at least several standalone examples so we can demonstrate all possible link line configurations and keep them up-to-date. I created an issue for this improvement https://github.com/oneapi-src/oneMKL/issues/148

[2021-12-03 15:20] sbalint98 opened #149 "Use of sycl::half, with CL/sycl.hpp SYCL header included"
In #143, the `half` data types were replaced with `sycl::half`, while including the `CL/sycl.hpp` SYCL header. According to the SYCL specification section 4.3, when that header is included all SYCL types should exist inside the `::cl::sycl` namespace.

Unfortunately, this change also breaks compilation with hipSYCL, since `sycl::half` is not defined. In order to solve this problem I see three poss

[2021-12-03 17:51] mmeterel commented on #149
@sbalint98 Thanks for bringing up this issue. I wonder if option 2 is a viable option. Did you get a chance to try it with hipSYCL and DPC++?
@mkrainiuk Do you see any issues with option 2?

[2021-12-03 19:37] sbalint98 commented on #149
I'll have a look at option two and open a PR if it works

[2021-12-03 20:48] sbalint98 commented on #149
It looks to me that the `sycl/sycl.hpp` header is not part of the dpc++ 2021.4.0 release (installed by the oneAPI base toolkit install script, version: 2021.4.0.3422). I am a bit confused since this file have been merged into the dpc++ GitHub repo here: https://github.com/intel/llvm/pull/3290 in March already. Can you help me with what I might be missing here?

If you can confirm that the `sycl/sy

[2021-12-06 20:21] mmeterel commented on #149
Any chance you can send your branch so I can take a quick look before opening a PR?

[2021-12-06 20:46] mmeterel commented on #149
I looked at the 2021.4 release and indeed could not locate sycl/sycl.hpp. Sorry for the confusion with my comment. We can exclude option 2 as you suggested.

[2021-12-06 23:24] sbalint98 commented on #149
Sure, have a look at this branch: https://github.com/sbalint98/oneMKL/tree/fix-qualification-ver2

[2021-12-14 00:22] #147 closed, assigned to nobody

[2021-12-29 12:36] jeffhammond opened #153 "/opt/intel/onemkl-cublas/tests/unit_tests/blas/extensions/../include/reference_blas_templates.hpp:224:18: error: unknown type name 'CBLAS_LAYOUT'"
# Summary

Everything fails like this:
[code]

# Version

[code]

# Environment
oneMKL works with multiple HW and backend libraries and also depends on the
compiler and build environment. Include
the following information to help reproduce the issue:
* HW you use
DGX A100 station: AMD 7742 and NVIDIA A100
* Backend library version
?
* OS name and version
[code]
* Compiler version
## DPC++
[code]
#

[2021-12-29 12:48] jeffhammond commented on #153
The fix is to explicitly add the path to the correct cblas.h file, which should have been taken care of by `-DREF_BLAS_ROOT`.

[code]

[2022-01-06 20:38] valenotary opened #155 "Compiling oneMKL (CUDA backends) on Windows parsing commands incorrectly"
# Summary
While the build README says that the CUDA backend is only supported on Linux, I wanted to naively try building it for Windows anyways - the oneAPI sycl compiler on llvm/clang built on Windows while only being tested on Linux, so I expected this to be pretty trivial as well. However, it looks like on the CMake build step, it is parsing some `cl` compile options as file/directories incorre

[2022-01-11 20:26] andrewtbarker commented on #153
I can't reproduce this. As you point out, the key issue seems to be the include path in the configure output:
[code]
When I run your reproducing steps I get:
[code]
It looks like you've found a workaround, but if you're interested in pushing further can you copy the following into a file `try.cmake`:
[code]
and then post the output of the following command line:
[code]
I'm suspicious that cmake is

[2022-01-18 19:00] mmeterel commented on #155
@valenotary Thanks for your experiments and output logs. As you mentioned (and written in README), CUDA backend is not currently supported on Windows.  Could you please open a feature request using this [template](https://github.com/oneapi-src/oneMKL/issues/new?assignees=&labels=&template=feature_request.md&title=)?

If you would like to contribute, we also encourage you to submit a PR.

[2022-01-18 23:36] andrewtbarker opened #157 "Reference i?amin produce unexpected results with NaN input"
# Summary

When compiled with recent dpcpp compilers, the `cblas_i?amin` routines in `src/blas/backends/netlib/netlib_level1.cpp` and the `iamin` routines in `tests/unit_tests/blas/include/reference_blas_templates.hpp` produce incorrect results when there are `NaN`s in the input, because `std::isnan` always returns true for dpcpp by default unless you use `-fp-model=precise`.

# Version

Current `

[2022-01-26 21:19] #153 closed, assigned to nobody

[2022-01-27 17:29] mmeterel commented on #149
@sbalint98 After looking through your branch, I would actually prefer a hipSYCL specific solution like in option 3. Could we bring that one back? Sorry for the inconvenience.

[2022-01-27 23:33] sbalint98 commented on #149
No problem, added the change as requested to the PR #144

[2022-01-31 07:16] TejaX-Alaghari opened #160 "ROCm/HIP backend support for oneMKL BLAS domain"
The current CUDA backend for BLAS domain seems to utilize "CL/sycl/backends/cuda.hpp" (cublas_scope_handle.hpp) to communicate with the CUDA runtime. But there doesn't seem to be any such equivalent header file on the "CL/sycl/backends" folder for supporting ROCm/HIP backend.

Given the context, what is the recommended way to add ROCm/HIP backend support for oneMKL domain libs?

[2022-02-03 22:27] #157 closed, assigned to nobody

[2022-02-05 12:19] alexbatashev opened #163 "Conan build instructions aren't working"
# Summary
Building with conan following the instructions in README.md leads to an error:
[code]

# URLs
https://github.com/oneapi-src/oneMKL#example

# Additional details
[code]

[2022-02-08 20:02] mmeterel commented on #160
Hi @TejaX-Alaghari Thanks for your question. For ROCm backend, there are two on-going projects.

1. hipSYCL team is enabling ROCm backend support. See #144
2. In parallel, there is an experiential work to add HIP backend support to DPC++. (https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#build-dpc-toolchain-with-support-for-hip-amd) Once this work is complete, there is a plan to

[2022-02-14 18:47] mmeterel commented on #160
Closing issue. Please let us know if there are more questions.

[2022-02-14 18:47] #160 closed, assigned to nobody

[2022-02-14 18:48] mmeterel commented on #155
Closing issue, since this is a known limitation.

[2022-02-14 18:48] #155 closed, assigned to nobody

[2022-02-14 18:48] mmeterel commented on #149
Closing issue. It is handled with option 3.

[2022-02-14 18:48] #149 closed, assigned to nobody

[2022-02-14 18:50] mmeterel commented on #99
Closing issue. It is being tracked by separate PRs. #144 #156

[2022-02-14 18:50] #99 closed, assigned to nobody

[2022-02-14 18:52] mmeterel commented on #82
@vrpascuzzi There is a PR to add rocRAND backend. #156
I will close this issue. Please feel free to re-open if you need to.

[2022-02-14 21:08] vmalia commented on #163
Hello @alexbatashev
We are aware of this issue. It happens because:
1. Conan changed their remote repository hosting site. Fix mentioned in #117
2. Reference-LAPACK Conan package that was maintained by a third-party, is now end-of-lifed, so whenever we try to use the Conan build process, we get the error like you mentioned in the logs.

@hgunalan
Possible solutions from best to worst in my opinion

[2022-02-19 17:14] mipac commented on #27
is plan to add a cuda cufft backend to be able to run oneMkl code to nvidia gpu?

[2022-02-22 11:23] AerialMantis commented on #27
We would be interested in having FFT support for Nvidia GPUs in oneMKL. Once this is supported in the open source oneMKL we could look into introducing support for this via a cuFFT backend, however, we have no immediate plans for this at the moment.

[2022-02-22 23:57] zjin-lcf opened #168 "[CUDA] map cublasGemmEx to SYCL"
Is there a MKL function that is similar to the cublasGemmEx function ?

Thanks

[2022-02-23 12:54] lhuot commented on #27
Hi @mipac and @AerialMantis,
The Intel MKL team is still planning on enabling DFT DPC++ APIs in the oneMKL Interface Open Source project, with focus on Intel GPU and x86 CPU backends first.
Once this is done if you'd like to enable the NVIDA GPU backend via the cuFFT library that would be great!

[2022-02-24 23:03] zjin-lcf commented on #153
I can reproduce the issue posted. I disable the gtests in the CMakefile.txt

[2022-02-24 23:08] zjin-lcf commented on #142
In the main page https://github.com/oneapi-src/oneMKL, the command is '-lonemkl_blas_cublas'. Thank you for your clarification.

[2022-02-24 23:32] andrewtbarker commented on #153
Hi @zjin-lcf , can you post the output you get from the configure step?

[2022-02-24 23:44] zjin-lcf commented on #153
I pasted the relevant info:

-- Found CBLAS: /usr/lib/x86_64-linux-gnu/libcblas.so
-- Found CBLAS: /usr/lib/x86_64-linux-gnu/libblas.so
-- Found CBLAS: /usr/include/x86_64-linux-gnu

[2022-02-24 23:45] zjin-lcf commented on #153
Is that good for you ?

[2022-02-27 02:03] #111 closed, assigned to nobody

[2022-02-27 02:07] mmeterel commented on #168
@zjin-lcf  What A./B/C precisions are you interested? oneMKL functions `gemm` and `gemm_bias` cover many precisions combinations.

[2022-02-27 02:10] zjin-lcf commented on #168
8-bit integer GEMM.  Please see the example: https://github.com/zjin-lcf/HeCBench/blob/master/gemmEx-cuda/main.cu

Thanks.

[2022-02-28 00:15] mmeterel commented on #168
Can you try `gemm_bias` with A/B/C = int8_t/int8_t/int32_t?

[2022-02-28 01:29] zjin-lcf commented on #168
Ok. I will try.

[2022-02-28 01:29] #168 closed, assigned to nobody

[2022-03-02 06:28] mipac commented on #27
thanks for your replies,
I have a project planned using fft with gpu
I’d like to prototype critical signal path with « one source » paradigm
It seems impossible for now to do it in real use case, but I hope that intel will continue this way

[2022-03-07 19:50] mmeterel commented on #110
@dnhsieh-intel Can we keep this one open or open a new issue for the backends where #167 is not covering?

[2022-03-07 19:58] dnhsieh-intel commented on #110
Definitely. This was closed automatically by github. I guess github grabbed it from the description in #167. I will open a new issue for the problem of cuBLAS, but I prefer to keep this one open since we still have cuSOLVER.

[2022-03-07 20:47] dnhsieh-intel commented on #110
Reopen this issue as we still not cover cuBLAS and cuSOLVER.

[2022-03-08 04:44] dnhsieh-intel opened #175 "cuBLAS tests failed after aligning with SYCL 2020 specification"
# Summary
After cuBLAS backend was aligned with SYCL 2020 specification, a large number of cuBLAS tests failed.

# Environment
* OS: Linux
* Hardware: NVIDIA TITAN RTX
* Backend library version: CUDA 10.2
* Compiler version: sycl-nightly 20220210

# Steps to reproduce
Clone the branch: https://github.com/dnhsieh-intel/oneMKL/tree/SYCL_2020_cuBLAS
[code]

# Observed behavior
Some cuBLAS tests using

[2022-03-08 16:35] dnhsieh-intel commented on #175
@npmiller Would it be possible for you to take a look at this issue when you have a chance? Based on your experience of PR #136, Mesut (@mmeterel) suggests that it would be more efficient to ask you for directions.

[2022-03-09 13:00] TejaX-Alaghari opened #176 "# HIP backend support for MKL BLAS domain with DPC++/SYCL compiler (RFC)"
# Summary
This RFC is intended to extend the HIP backend of BLAS domain, which is currently supported for hipSYCL compiler to Intel’s DPC++/SYCL compiler.
* This backend can be exposed to the users by “ENABLE_ROCM_BACKEND=True” after setting the CXX and C compiler to point to the experimental DPC++/SYCL compiler with support for HIP.
* This implementation intends to stabilize the compatibility wit

[2022-03-11 16:38] zjin-lcf commented on #168
Is it a good idea to merge gemm_bias with gemm, like cuda's gemm function ? Should I open a request for such function ?

[2022-03-11 20:31] zjin-lcf commented on #168
I added the sycl version with mkl gemm and gemm_bias functions.
https://github.com/zjin-lcf/HeCBench/tree/master/gemmEx-sycl
Executing the gemm_bias fails. This may be expected.

[2022-03-14 18:32] mmeterel commented on #168
@zjin-lcf  In this project, we are following the APIs given in [oneAPI spec](https://spec.oneapi.io/versions/latest/elements/oneMKL/source/domains/blas/gemm_bias.html#onemkl-blas-gemm-bias). We would like to keep `gemm_bias `and `gemm `as separate APIs since their underlying functionality is different due to offsets.

[2022-03-14 18:33] mmeterel commented on #168
Could you please clarify if this is a question or an issue with the repo?

[2022-03-14 18:44] mmeterel commented on #176
@TejaX-Alaghari  Thanks for the detailed explanations. We are also looking forward to add this capability to our project. Here are a few comments from my side:

1. As you mentioned, DPC++ currently have experimental support for HIP on AMD devices [see here](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#build-dpc-toolchain-with-support-for-hip-amd) . My understanding is, you h

[2022-03-16 22:44] TejaX-Alaghari commented on #176
@mmeterel, Thanks for your inputs.

This implementation indeed uses the experimental HIP backend support provided by the Intel SYCL compiler which is yet to support the same level of features as CUDA backend.

As per your suggestion, We'll proceed with creating a "placeholder" pull request.

[2022-03-17 17:01] npmiller commented on #175
Hello @dnhsieh-intel, so I've had a look at this and I could reproduce the issues, I'm not getting segfaults but I am getting the incorrect results.

I don't think it's related to #136 but there does seem to be something strange here, maybe with the USM transfers or maybe a race condition in DPC++, I'm not too sure yet.

I did notice that the tests are waiting on the SYCL events, waiting on the SY

[2022-03-18 10:46] npmiller commented on #175
Okay so I have figured out what is going on, with the way `interop_task` and `host_task` are currently defined they are required to be synchronous.

Meaning that starting asynchronous work in the lambda and not waiting for it is undefined behavior.

If you look at the [proposal specification](https://github.com/codeplaysoftware/standards-proposals/blob/master/interop_task/interop_task.md#codeplayh

[2022-03-18 23:01] dnhsieh-intel commented on #175
@npmiller Thank you so much for the investigation! @andrewtbarker Could you take a look please?

[2022-03-21 20:42] andrewtbarker commented on #175
I've prepared a [pull request](https://github.com/dnhsieh-intel/oneMKL/pull/2) into @dnhsieh-intel 's branch as a starting point for discussion.

In my view there are two issues here: (1) functional failures (wrong answers) and (2) segfaults. For now I am only focused on (1).

My solution in the linked PR is to try to recreate the previous behavior of `interop_task` within our cublas wrappers usin

[2022-03-22 11:08] keryell commented on #175
There is nothing preventing starting some work from such tasks in SYCL. It is just normal C++ and obviously it requires some planning about what is launched. For example starting a `std::thread` and never joining it later would be UB.

[2022-03-23 10:43] npmiller commented on #175
@andrewtbarker do you still see segfault with your PR? I suspect it might fix both issues.

I've checked out your PR, and I do think that should fix the issue, I would be curious to know if there are performance implication for using `host_task` plus this patch as opposed to `interop_task` like before.

@keryell you're right it is absolutely possible. It's just a lot more tricky to handle than the

[2022-03-23 15:41] andrewtbarker commented on #175
I do continue to see segfaults in some cases on my branch - they happen at the very end of the program after tests have reported "passed". I haven't yet investigated further.

[2022-03-25 21:53] andrewtbarker commented on #175
I have traced the segfaults to the destruction of the cublas handle on line 74 of `cublas_scope_handle.cpp`:
[code]
It fails with the latest compiler I have access to. This doesn't get called twice (so if it's a double delete it happens somewhere else) and gdb does not think the pointer is null.

[2022-03-27 18:57] zslavens opened #182 "oneMKL support for DFT and VM on CUDA devices"
Hello,
I was recently able to build oneMKL, and noted the support for optimized linear algebra (BLAS/LAPACK) and random number generation (RNG) compatible with Nvidia GPU backend.  I am interested in your plans to incorporate other domains of oneMKL, and am specifically looking for optimized support for discrete Fourier transform (DFT) and vector math (VM) functionality.  These would presumably be

[2022-03-28 16:12] mmeterel commented on #182
@zslavens Thanks for your feedback. As mentioned in #27, adding DFT (and similarly VM) functionality to oneMKL interfaces project is part of our future plans. We will update #27 when the functionality is enabled.
I will close this issue since it is covered by another one.

[2022-03-28 16:12] #182 closed, assigned to nobody

[2022-03-29 01:55] zjin-lcf opened #183 "cublasSgeam question"
I have a question about MKL. Which SYCL function should be called for mapping cublasSgeam ?
https://docs.nvidia.com/cuda/cublas/index.html#cublas-lt-t-gt-geam

Thanks

[2022-03-29 15:13] vmalia commented on #183
@mmeterel , can you help with this question? Thanks!

[2022-03-29 16:43] npmiller commented on #175
I see, that's interesting, it could have to do with the context stuff in https://github.com/oneapi-src/oneMKL/pull/136 still.

However I'm still unable to reproduce it locally with the latest DPC++ compiler so I'm not too sure what's going on, what version of the compiler are you using? There was also some issues regarding host tasks and context in the SYCL runtime, but that was quite a while ago.

[2022-03-29 16:48] mmeterel commented on #183
@zjin-lcf  Thanks for the question.
`cublasSgeam `can be mapped to `omatadd `function. However, this function is currently not supported in oneMKL interfaces repo. We plan to add it in Q2.

If you are trying to use it with oneMKL product, then, support for `omatadd` will be added in the next release. However, you can still achieve same functionality by using `omatadd_batch `API with batch_size=1.

[2022-03-29 17:59] andrewtbarker commented on #175
Here's the version string for the particular `clang++` that cmake is picking up. I've tried a couple other versions with the same result, this is the most recent:
[code]
Can you share the script or command line you use to invoke cmake?

[2022-03-29 18:37] npmiller commented on #175
Sure, I'm doing the following:

[code]

And everything passes:
[code]

[2022-03-29 21:51] zjin-lcf commented on #183
Thank you for your answer. Could it be part of Intel oneMKL BLAS Routines for Data Parallel C++ ?

[2022-03-29 22:19] mmeterel commented on #183
`omatadd_batch `is already part of Intel oneMKL binary product (inside BLAS). Unfortunately, the documentation is currently missing - but will be available very soon. You should be able to see the symbol in public header files.
`omatadd `will be available in next Intel oneMKL binary product  (inside BLAS).

[2022-03-29 22:54] zjin-lcf commented on #183
I look forward to the documentation to understand how the function is called for execution on a GPU.  Like the gemm(buffer/USM) example shown in
https://www.intel.com/content/www/us/en/develop/documentation/oneapi-mkl-dpcpp-developer-reference/top/blas-and-sparse-blas-routines/blas-level-3-routines/gemm.html

Thanks

[2022-03-30 10:17] npmiller commented on #175
I've rebuilt with the revision you provided (`cae91b2b13af3915f4b6f990216146adde973903`), and I'm still not getting any segfault, not sure if there's something wrong in my setup or if I'm just being lucky.

Are the segfault flaky? Do they happen every time? Even when running the tests individually?

[2022-03-30 16:20] mmeterel commented on #183
Closing the issue.

[2022-03-30 16:20] #183 closed, assigned to nobody

[2022-03-30 18:35] andrewtbarker commented on #175
The segfaults happen every time, even when running tests individually. I spent a little time trying to make a small reproducer but didn't make much progress. As far as I can tell, every cublas RT test fails - the ones reported passing in CI are actually just skipped, nothing runs.

[2022-03-31 19:28] mmeterel commented on #175
@npmiller Which CUDA version are you using? 11.x? We have 10.2 installed. Do you think that would make a difference?

[2022-04-01 05:41] mmeterel commented on #175
@andrewtbarker Recently, @aelizaro merged this https://github.com/oneapi-src/oneMKL/pull/169 that brought oneMKL-cuBLAS backend performance on par with native cuBLAS. Can we check if this commit has any impact on performance? @aelizaro might have benchmarks we can re-use.

[2022-04-01 16:21] andrewtbarker commented on #175
I ran a few basic performance tests, just using the reproducer from #106, and I can't distinguish between develop branch and my branch in performance:

| m=n=k | my partial fix | develop |
| --- | --- | --- |
| 1024 | 138.639 gflops | 138.637 gflops |
| 4096 | 1600.91 | 1600.84 |

[2022-04-01 16:51] mmeterel commented on #175
@andrewtbarker Thanks for confirming.

[2022-04-04 09:52] npmiller commented on #175
I am running with 11.6, I've tried to switch to 10.2 but I'm still not seeing any segfaults there, so I'm not sure it's related.

[2022-04-05 01:13] mgrabban commented on #27
Hello,
I am interested in DFT in the DPC++ open source project. Currently I am in the process of porting a CUDA repo called [tsnecuda](https://github.com/CannyLab/tsne-cuda) into DPC++ and one of my goals is to compare CUDA version and DPC++ open source version running on NVIDIA A100 GPUs. (I have already got the DPC++ on Intel GPU version working but the DFTs are very slow - creating a DFT plan t

[2022-04-05 07:58] lhuot commented on #27
Hi, we are working on reducing the cost to create the DFT plan for DPC++ API on Intel GPU. Regarding CUDA support in the oneMKL Interface, as mentioned previously it is part of our plan for 2022.

[2022-04-07 17:16] andrewtbarker commented on #175
I have a smaller reproducer, unfortunately it's not very informative to me. Here's the source:
[code]
One compilation and two separate link lines:
[code]
For me, `app1.exe` crashes with a segfault at the very end of execution, while `app2.exe` runs to completion with no errors. This suggests that on our system here we are somehow picking up a wrong standard library and some symbol is resolving inc

[2022-04-12 14:19] npmiller commented on #175
That's pretty strange, I still tried the reproducer and your instructions but I'm still not getting any segfault. You might be right that it's some sort of local configuration issue

[2022-04-25 23:11] sbalint98 opened #193 "Cannot compile oneMKL application when the sycl/sycl.hpp is used in user code"
# Summary
When using oneMKL with the hipSYCL backend the user will probably include the `sycl/sycl.hpp` header. This will result in ambiguous namespace definitions.

# Version
oneMKL latest with #191 applied
The last good version was probably: 560a2e32bbb0c190af6ca18198961837cb110c8e

# Environment
hipSYCL latest, with cuda backend, although the issue is most likely present with all the backends o

[2022-04-25 23:16] sbalint98 commented on #193
A possible solution could be to wrap all inclusion of the CL/sycl.hpp header in oneMKL with the following:
[code]
If this solution is agreed on, would it be preferable, to replace it everywhere, or to rather try to minimize the number of occurrences of inclusions of the SYCL header before applying this change? I believe one include in the types.hpp could be sufficient for the entire project, howev

[2022-04-29 15:20] Sholde opened #195 "[BUG] csrot and zdrot tests fail silently"
# Summary
I tried to build the oneMKL tests. But some rot/rotg tests failed because they don't find (and therefore don't load) `libblas.so`, and therefore the functions are not executed and the reference vectors remain unchanged.
Also, we don't have any error message (exception for example) that could help us to fix the bug.

I think you should just need to load the library specified in a new cmak

[2022-05-11 20:42] mmeterel commented on #183
@zjin-lcf  Documentation for `omatadd_batch` is available here:
https://www.intel.com/content/www/us/en/develop/documentation/oneapi-mkl-dpcpp-developer-reference/top/blas-routines/blas-like-extensions/omatadd_batch.html

[2022-05-14 02:48] ajaypanyala opened #198 "[hipSYCL][CUDA][CMake] redefinition of 'sycl' as different kind of symbol"
Building `oneMKL` with `hipSYCL` as follows

`
cmake -DCMAKE_CXX_COMPILER=$hipSYCL_ROOT/bin/syclcc-clang  -DCUDA_TOOLKIT_ROOT_DIR=$NV_HOME -DENABLE_CUBLAS_BACKEND=ON  -DENABLE_MKLCPU_BACKEND=OFF -DENABLE_NETLIB_BACKEND=OFF -DENABLE_MKLGPU_BACKEND=OFF -DENABLE_ROCBLAS_BACKEND=OFF -DBUILD_FUNCTIONAL_TESTS=OFF -DCMAKE_INSTALL_PREFIX=$oneMKL_HOME -DHIPSYCL_TARGETS="cuda:sm_80" -DONEMKL_SYCL_IMPLEMENTA

[2022-05-14 20:28] mmeterel commented on #198
@ajaypanyala Thanks for the question. This issue looks related to  #193 . We are currently working on a fix for it.

Moreover, CUDA backend support with hipSYCL is not currently officially supported in oneMKL interfaces repo. Please see [README.md](https://github.com/oneapi-src/oneMKL/blob/develop/README.md) There is an open PR and it will be tested after fixing #193.

[2022-05-14 22:59] ajaypanyala commented on #198
@mmeterel Thanks! Will wait until the open PR is merged. Closing the issue.

[2022-05-14 22:59] #198 closed, assigned to nobody

[2022-05-17 17:15] mmeterel commented on #193
@sbalint98 Could you please provide all the requirement environment variables and compiler flags to be able to reproduce this error? If I follow the steps provided, I get:
syclcc fatal error: Required command line argument --hipsycl-cpu-cxx or environment variable HIPSYCL_CPU_CXX not specified

[2022-05-17 19:10] mmeterel commented on #193
@sbalint98 #199 is merged. Could you please check if this issue still exists or not?

[2022-05-17 19:11] mmeterel commented on #148
@mcao59  Can we close this issue?

[2022-05-17 23:39] sbalint98 commented on #193
Problem seems to be resolved now, thank you for the PR!

[2022-05-17 23:39] #193 closed, assigned to mmeterel

[2022-05-17 23:41] mmeterel commented on #193
Thanks for checking. Can you please let me know to reproduce the issue for future reference?

[2022-05-18 00:08] sbalint98 commented on #193
Based on your error message I think the problem is that `syclcc` cannot find the `syclcc.json` configuration file, which contains presets for multiple variables including the one it complains about. I haven't seen this error before with hipSYCL that is otherwise functional, are you sure that you are using the `syclcc` in the install directory?

I could reproduce the exact same error by using `sycl

[2022-05-18 16:34] mmeterel commented on #193
@sbalint98 Yes, the problem was, I was not using the syclcc in the install directory. After using the right version, I could also verify the fix. Thanks.

[2022-05-19 20:00] mmeterel opened #201 "[DOC] [RNG] Add documentation for RNG"
# Summary
RNG domain does not have documentation and needs to be added.

[2022-05-20 06:34] ValZapod commented on #175
Is there any "stack" trace with gdb or whatever that works with cuBLAS?

[2022-05-31 17:45] andrewtbarker commented on #195
Thanks very much for the detailed bug report. I have put this on my todo list, but it looks like you've already identified all the necessary changes. If you want to submit a pull request fixing this that would be appreciated.

[2022-06-03 15:56] adegomme opened #204 "BLAS: tests may not be executing the right backend"
# Summary
When trying a new library we encountered an unexpected behaviour, as it seems that for BLAS (at least), most tests are actually comparing the reference libblas to itself (but wrapped in sycl), not to the actual intended backend. This can be reproduced with MKL.

As I understand, unit_tests such as axpy_usm.cpp are compiled and linked with reference libblas, hence cblas_xxx symbols are al

[2022-06-03 16:27] mmeterel commented on #204
@adegomme This is a very interesting find. Thank you for reporting it. We will take a closer look at it, but my initial guess is, this could only happen with BLAS domain and with mklcpu backend - where the cblas_*() symbols used in mklcpu backend is identical to the ones in libcblas library. We don't have this condition for other domains/backends AFAIK.
I am actually working on another issue (#114

[2022-06-03 17:16] adegomme commented on #204
I agree, as this is already pretty much what is done for lapack on mkl if I'm not mistaken (not using lapacke symbols but c++ interface), and the lapack tests I checked did not show the bug (and some where the symbol might differ as less standardised, such as crot/csrot seem unaffected as well).

But  other backends are also affected if they respect the cblas/lapacke interfaces and symbols, so I w

[2022-06-03 17:44] mmeterel commented on #204
Agreed on your comment for the other backends. @mkrainiuk Could you please help with a global solution for this problem?

[2022-06-06 18:56] mmeterel commented on #195
@Sholde Thanks for the issue and the PR. Terribly sorry for getting back to you so late. :(
After reviewing the issue and PR, I am not in favor of skipping the tests if the library name is different than libblas.so. I think, your suggestion about adding a CMAKE variable for the library name makes more sense. To me, the problem is failing to find the right symbols and we should fix it there. Then,

[2022-06-06 19:15] Sholde commented on #195
Hello,

I agree with you that creating a new CMAKE variable will be more sensible, but I don't know how to reflect this cmake variable in the C file. Maybe with a `define`?

So I proposed a simple PR that warns the user when the library was not found.

I'll let you fix that if you want to use a new CMAKE variable.

Regards,

[2022-06-06 19:55] andrewtbarker commented on #195
I agree @mmeterel that actually finding the correct library with cmake is the best approach. Regarding the tests, it may make sense to keep the added `throw` statements but then not to `catch` them so we get an error when the library is not found, rather than the current behavior of failing silently.

[2022-06-06 20:04] mmeterel commented on #195
My preference would be to fail the build if the library is not found. IMHO, running the tests does not make sense if the reference library/API is not found. So, I would not change the tests at all.

[2022-06-06 20:05] mmeterel commented on #195
@Sholde Thanks for the feedback. We will work with library engineering team to find a more stable solution. Tagging @vmalia and @mkrainiuk to initiate the discussion.

[2022-06-11 03:02] jiapei100 commented on #116
Is this issue still ongoing  ??

[code]

[2022-06-11 03:50] mmeterel commented on #116
@jiapei100  Did you try Intel oneMKL 2021.4 release (or later) and still seeing the issue?

[2022-06-11 04:00] jiapei100 commented on #98
yeah... I just built **oneTBB** from source and have it installed...
Also, I'm trying to manually built oneMKL, but failed with this **ERROR message**.

[2022-06-11 04:11] mmeterel commented on #98
What is the error?

[2022-06-11 04:13] jiapei100 opened #205 "Why SYCL is a must fof this oneMKL? Instead of CUDA support?"
How can I build **oneMKL** with **CUDA** under Ubuntu 22.04 ? Without using **SYCL** ?

[2022-06-11 10:51] Sholde commented on #205
Hello @jiapei100,

I will try to answer your questions.

To build oneMKL with CUDA, you just need to follow the [build instructions](https://github.com/oneapi-src/oneMKL/blob/develop/docs/building_the_project.rst#building-for-cuda).
You will need a compiler that supports **SYCL**. So you just need to install [intel/llvm](https://github.com/intel/llvm).
Furthermore, oneMKL is an interface that call

[2022-06-12 04:44] mmeterel commented on #205
@Sholde Thanks for the explanations. :) As mentioned by @Sholde oneMKL interfaces project is part of oneAPI that is based on DPC++/SYCL. The purpose here is, use oneAPI and run it on every hardware. In this particular case (oneMKL interfaces repo), the purpose is to create an interface layer that can be used to run oneMKL APIs on every hardware. So, you will need a SYCL implementation (such as DPC

[2022-06-13 14:37] RodneyGuo opened #206 "Missing oneapi/mkl/stats.hpp header file"
Dear sirs, after I install the oneapi, I can find the stats.hpp from below folder:
/opt/intel/oneapi/mkl/latest/include/oneapi/mkl/stats.hpp
However, if I compile the oneMKL from the source, I cannot find this header file from the output.
Is this file generated by any other repos?

[2022-06-13 14:48] vmalia commented on #206
Hello @RodneyGuo, `oneMKL` is used for 3 different things. I hope this FAQ helps clarify your question. https://github.com/oneapi-src/oneMKL#onemkl

[2022-06-13 15:51] vmalia commented on #195
Thank you @mmeterel and @Sholde .
We can add a find_library call in our CMake to search for `libblas.so` or `blas.dll`, and if they are not found, CMake will throw the required error message.
In order to get the library reference from CMake, the recommendation is to configure/generate a file using CMake. https://cmake.org/cmake/help/latest/command/configure_file.html
We can use a special header fi

[2022-06-13 16:06] mmeterel commented on #195
@vmalia Thanks for investigating the issue. Having a separate header file sounds good to me.

[2022-06-13 16:36] Sholde commented on #195
@vmalia Thank you, and I agree with @mmeterel

[2022-06-13 16:44] vmalia commented on #195
Great, I will get this to our team's attention. We will post updates here, as and when they happen. Thanks, folks!

[2022-06-14 10:25] RodneyGuo commented on #206
It is quite clear now. Thanks for the reply.

[2022-06-14 10:25] #206 closed, assigned to nobody

[2022-06-15 21:36] mmeterel commented on #205
@jiapei100 if the provided answers are sufficient, can we close this issue?

[2022-06-15 21:37] mmeterel commented on #148
@mcao59 ping

[2022-06-16 01:27] jiapei-nexera opened #207 "Failed to build oneMKL under Ubuntu 22.04"
1. My **ENV**

[code]

2. CMake **ERROR** messages:

[code]

My question: how to build **oneMKL** successfully from source under Ubuntu 22.04?

[2022-06-16 01:47] mmeterel commented on #207
quick question: Did you install Intel oneAPI base tool kit from here?

https://www.intel.com/content/www/us/en/developer/tools/oneapi/dpc-compiler.html#gs.3r7dij

[2022-06-16 16:08] jiapei-nexera commented on #207
@mmeterel
Nope.... I actually built everything from github...
Is there any difference between [oneAPI MKL](https://github.com/oneapi-src/oneMKL) and the [oneAPI at Official website](https://www.intel.com/content/www/us/en/developer/tools/oneapi/dpc-compiler.html#gs.3r7dij) ?

Cheers

[2022-06-16 16:13] mmeterel commented on #207
@jiapei-nexera You need DPC++ compiler to be able to build oneMKL interfaces. Where did you get that from?

[2022-06-16 16:17] jiapei-nexera commented on #207
@mmeterel
oh.... Okay.... I didn't realise that is a must...
So, DPC++ is able to handle both Intel and AMD chips, right???

Now, I'm downloading DPC++ ...

[2022-06-16 16:22] mmeterel commented on #207
DPC++ will only work for Intel GPUs.

For AMD, you need hipSYCL. Please see README for more details on which compilers supports which hardware.

[2022-06-16 16:25] jiapei-nexera commented on #207
@mmeterel
Installed... But under `~/intel`. How can I specify my own installation directory ? For instance, `/opt/intel` ?

[2022-06-16 16:52] jiapei-nexera commented on #207
@mmeterel

I still got some **ERROR** message while building **oneMKL**. It looks **oneMKL is looking for MKL** for building??

[code]

[2022-06-16 17:11] jiapei-nexera commented on #98
Okay... I got it...

cmake enables
[code]
by default, which seems to make **NO** sense -- to build **oneMKL** of course does **NOT** have **MKL BACKEND** yet..

The following seems to be reasonable, but failed with some **ERROR** as well:
[code]

The error message:
[code]

Well, it looks it has something to do with `ENABLE_CUSOLVER_BACKEND`.

Now, the following configuration works for me, which se

[2022-06-16 17:17] Sholde commented on #207
Hi @jiapei-nexera ,

You can find the `cmake` command to build the oneMKL interface [here](https://github.com/oneapi-src/oneMKL/blob/develop/docs/building_the_project.rst#L280).

Note that you need to `source` in your current terminal the file named `setenv.sh` in your intel root directory (according to your previous comment, this is `~/intel` or `/opt/intel`).
So just run `source /opt/intel/oneap

[2022-06-16 17:24] Sholde commented on #207
By the way, by sourcing this script, it will set the MKLROOT environment variable, and you will not need to specify your intel installation directory.

[2022-06-16 19:08] mmeterel commented on #98
by default, which seems to make NO sense -- to build oneMKL of course does NOT have MKL BACKEND yet..

@jiapei100  I am puzzled with this comment: Here, you are trying to build "oneMKL interfaces" which is different than "MKL BACKEND". mklcpu and mklgpu backends come from Intel oneMKL product, which can be downloaded from oneAPI Base Tool Kit. For more information on the differences between oneMKL

[2022-06-16 19:14] mmeterel commented on #207
Here, we are trying to build oneMKL interfaces. And by default, it is using Intel oneMKL backends (mklcpu/mklgpu). (oneMKL interfaces and Intel oneMKL are two different things, please see [FAQ](https://github.com/oneapi-src/oneMKL#faqs)).
If you don't want to use mklcpu/mklgpu backends, they can be controlled using CMAKE variables as @Sholde pointed out.
Which backend(s) are you interested?

[2022-06-16 20:23] jiapei-nexera commented on #207
@mmeterel

Got you finally...

So, you are actually saying that:
**Intel oneAPI->MKL** is the backend, but this **github oneMKL** is **ONLY** the interface of that backend?

Is my understanding correct now????

[2022-06-16 20:47] mmeterel commented on #207
@jiapei-nexera That is true. We use name `oneMKL interfaces` for this repo and `Intel oneMKL` to refer the binary product shipped with oneAPI base tool kit. If you can use those names in the future, it would be helpful. :)

[2022-06-16 20:48] jiapei-nexera commented on #207
@mmeterel

Thank you so much...

Now, everything built....
The **ONLY** tough thing is now: **Open3D**.

Are you from the same Intel team???

[2022-06-16 20:57] mmeterel commented on #207
@jiapei-nexera Anytime!

Unfortunately I am not familiar with it. Do you mind sharing how you are planning to use oneMKL interfaces?

[2022-06-17 06:59] jiapei100 commented on #205
@mmeterel

Thank you so much ...

I got a **AMD Ryzen Threadripper 3960X 24-Core Processor** CPU, with **NVidia Geforce 2080 Ti** GPU.
It seems I need to have **hipSYCL**.. Am I right?

[2022-06-17 07:06] jiapei100 commented on #207
@mmeterel

To tell the truth, I just need to compile `Intel oneMKL` with **OpenCV** and some 3rdparty libraries.
I used to use `liblapack` and `libblas` directly, for **SVD Decomposition**. That reminds of my ancient time... I ALSO used [jama](https://math.nist.gov/javanumerics/jama/) .... Really, long long long long ago...

Anyway, thank you @mmeterel
You cleared most of my questions....
Thank yo

[2022-06-17 16:04] mmeterel commented on #205
@jiapei100 Looks like you can actually use LLVM compiler with CUDA backend - this will allow you to use cuBLAS/cuSOLVER/cuRAND backends with oneMKL interfaces.

[2022-06-17 16:06] mmeterel commented on #207
@jiapei100 you welcome. Please reach out for any future questions.

[2022-06-17 16:06] #207 closed, assigned to nobody

[2022-06-18 20:42] jiapei100 commented on #205
Thank you  @mmeterel  ...

I still have some conern:

- Is [ISPC](https://github.com/ispc/ispc) specifically for Intel chips and Intel chips **ONLY** ?? What if I have a **AMD** chip?
- If **YES**, is it possible to build [ISPC](https://github.com/ispc/ispc) for **AMD chips** ?

[2022-06-18 21:01] mmeterel commented on #205
@jiapei100 I am not familiar with ISPC and do not want to give wrong information. I would suggest posting this question to ISPC repo.

[2022-07-14 17:19] StrongerXi opened #211 "Where is the Vector Math interface?"
Hi oneMKL team.

I was looking at the Vector Math interface in [developer reference](https://www.intel.com/content/www/us/en/develop/documentation/oneapi-mkl-dpcpp-developer-reference/top/vector-mathematical-functions.html), which says the interfaces are given in
[code]

But I can't find it in the repo codebase. Am I missing something?

cc: @jacobkahn

[2022-07-14 17:45] mkrainiuk commented on #211
Hi @StrongerXi, the documentation describes [Intel(R) oneAPI Math Kernel Library (oneMKL)](https://software.intel.com/content/www/us/en/develop/tools/oneapi/components/onemkl.html) product. [This opensource project](https://github.com/oneapi-src/oneMKL#oneapi-math-kernel-library-onemkl-interfaces) provides interfaces for multiple third-party libraries, including NVIDIA cuBLAS, Intel oneMKL product

[2022-07-14 17:49] mkrainiuk commented on #211
Oh, could you please check the link? it points to oneDNN documentation for me

[2022-07-14 17:51] mkrainiuk commented on #211
I believe this is the right link to oneMKL Interfaces opensource project documentation: https://oneapi-src.github.io/oneMKL/index.html

[2022-07-14 17:58] StrongerXi commented on #211
My bad! Link updated.

[2022-07-14 18:14] mkrainiuk commented on #211
Thank you!
For this link my first comment is correct, it covers Intel product only. VM is not part of opensource project yet.

[2022-07-14 18:29] StrongerXi commented on #211
Makes sense. I think I found the interfaces I need now. Thank you for the clarification!

[2022-07-25 18:13] mkrainiuk commented on #211
I will close this question, as it was resolved.

[2022-07-25 18:13] #211 closed, assigned to nobody

[2022-07-25 18:35] mkrainiuk commented on #204
Sorry for the super long delay as I worked on another project for last two months. I think as more global solution would be using runtime loading mechanism for reference functions and explicitly link only oneMKL libraries. We already used this approach for several Fortran functions here: https://github.com/oneapi-src/oneMKL/blob/f43e4e5943d0ef3a85ff3331d567eadb09c8fe71/tests/unit_tests/blas/includ

[2022-07-25 19:04] mkrainiuk commented on #195
We already search for required library in our cmake/FindCBLAS and fail if it's not found
https://github.com/oneapi-src/oneMKL/blob/722f6c51b528a2bc09bf549b1097f7d8fdc37826/cmake/FindCBLAS.cmake#L25

So we really can improve this function implementation with new variable:
https://github.com/oneapi-src/oneMKL/blob/f43e4e5943d0ef3a85ff3331d567eadb09c8fe71/tests/unit_tests/blas/include/reference_blas_

[2022-07-26 20:49] andrewtbarker commented on #204
@mkrainiuk This sounds like the right solution to me. Let me know how I can help.

[2022-07-29 23:36] ericlars opened #216 "[CUSOLVER] cuSOLVER handler does not support multiple streams"
# Summary
[Intel llvm](https://github.com/intel/llvm/commit/dd418459868a976cd2eeae367fea6b92795ea611
) introduced multiple CUDA streams per SYCL queue which broke the cuSOLVER scope handler that assumed one stream per device per thread. This broke asynchronous submissions, in the short term synchronous cuSOLVER submissions should be used. See #209 and #215 for further details.

# Version
All versi

[2022-08-13 03:02] zjin-lcf commented on #201
Could you please clarify if SYCL buffer examples are supported with RNG ?  Currently, the examples are written with USM. Thanks.

[2022-08-13 12:55] zjin-lcf commented on #201
Could you please clarify if curand and cublas can be enabled together or only one of them can be enabled in the build instruction ?

[2022-08-13 19:30] zjin-lcf commented on #201
Could you please clarify if ROCRAND is supported by HIPSYCL ?  If not, please add a note to the ROCRAND support in the build instruction.

[code]

[2022-08-18 10:48] aelizaro commented on #201
Hi @zjin-lcf, thank you for noticing the issue! RocRand is supported with HIPSYCL you can use it right now with a build configuration similar to rocBLAS:
[code]

I prepared a PR with documentation fix #220 . I would be glad to help if you have any more questions.

[2022-08-22 09:38] ManjulaChalla opened #221 "error while loading shared libraries: libonemkl.so.0: cannot open shared object file: No such file or directory"
Hi,

I executed SYCL application on NVIDIA GPU which is having oneMKL library. I built the open source MKL library for NVIDIA GPU's. The code is generating an output, i didn't get a problem there.

But while profiling the SYCL application using NVIDIA Nsight compute, I have the below error.
 error while loading shared libraries: libonemkl.so.0: cannot open shared object file: No such file or direc

[2022-08-22 20:38] mkrainiuk commented on #221
Hi @ManjulaChalla!
It looks like the profiling tool limitation. As I see on different forums users recommend adding a symbolic link in your project's root directory to the shared libraries that you need or install oneMKL as User Guide recommends to do for GUI libraries in case of such error [here](https://docs.nvidia.com/nsight-systems/UserGuide/index.html#gui-troubleshooting)

[2022-08-26 12:40] StefanPofahl opened #222 "function fft() sometimes fails to calculate result"
# Summary
Provide a short summary of the issue. Sections below provide guidance on what
factors are considered important to reproduce an issue.
See:
https://github.com/JuliaMath/FFTW.jl/issues/250
and
https://discourse.julialang.org/t/comparison-of-different-fft-implementations/86021/2
At least with 47499754 points the function fft() fails.

# Version
Report oneMKL version and githash.
If it is a

[2022-08-29 19:25] #201 closed, assigned to nobody

[2022-08-29 19:51] mmeterel opened #223 "cuBLAS backend (and potentially other domains) fails with latest LLVM builds"
# Summary
As first observed in #219 many tests in cuBLAS backend is failing with latest LLVM builds.

# Version
I have tried LLVM commit: 66361038b63caaae566fc9648f5da50b74222b83 and got the below tests failing (showing only a few of them)

         1 - BLAS/RT/Nrm2TestSuite/Nrm2Tests.RealSinglePrecision/Column_Major_TITAN_RTX (Failed)
          3 - BLAS/RT/Nrm2TestSuite/Nrm2Tests.RealDoublePrecis

[2022-08-29 20:08] andrewtbarker commented on #204
After some more investigation of this connected to #210, @mmeterel and I notice this affects tests that call cblas interface to oneMKL but not Fortran interface. Unfortunately in #210 we are switching to external interfaces for everything (because that's the right long-term solution) but this now means that the present issue with wrong backend will affect every test in the BLAS domain.

[2022-08-30 14:57] lhuot commented on #222
Thank you for the bug report! This project doesn't cover oneMKL binary product and the better way to escalate issues is the [oneMKL Forum](https://community.intel.com/t5/Intel-oneAPI-Math-Kernel-Library/bd-p/oneapi-math-kernel-library). You can read more about difference between oneMKL interfaces project and Intel oneMKL release [here](https://github.com/oneapi-src/oneMKL#onemkl). That said, the I

[2022-08-30 14:57] #222 closed, assigned to nobody

[2022-09-02 18:34] zjin-lcf opened #224 "A support matrix"
Can you please create a table to show which CUDA functions are supported and not supported by oneMKL ?

" cublasSgeam can be mapped to omatadd function. However, this function is currently not supported in oneMKL interfaces repo. We plan to add it in Q2. "

[2022-09-03 01:49] zjin-lcf opened #225 "omatadd_batch"
# Summary

ldc
Leading dimension of the A matrices. If matrices are stored using column major layout, lda must be at least m. If matrices are stored using row major layout, lda must be at least n. Must be positive.

# URLs
https://www.intel.com/content/www/us/en/develop/documentation/oneapi-mkl-dpcpp-developer-reference/top/blas-routines/blas-like-extensions/omatadd_batch.html

# Additional detail

[2022-09-08 17:27] andrewtbarker commented on #225
Thank you for reporting this, I will try to get this fixed soon.

[2022-09-08 17:55] andrewtbarker commented on #225
The documentation you quote should read:

Does that help?

[2022-09-08 19:03] mmeterel commented on #225
@zjin-lcf Looks like this is not related to oneMKL open source interfaces repo, right? Best way to report issues related to Intel oneMKL product (including documentation) is opening a JIRA (if possible) or reporting on [oneMKL forum](https://community.intel.com/t5/Intel-oneAPI-Math-Kernel-Library/bd-p/oneapi-math-kernel-library)
Thanks for catching this. :)

[2022-09-08 19:09] mmeterel commented on #224
@zjin-lcf IMHO, creating such a table and maintaining it for different domains (BLAS/LAPACK/RNG) and backends (CUDA/ROCM) will create extra and unnecessary overhead for our team. Instead, I would recommend looking at the source code to find out the most accurate and up-to date information.
For unsupported functions, you can search for such [exceptions](https://github.com/oneapi-src/oneMKL/blob/634

[2022-09-08 21:04] #114 closed, assigned to nobody

[2022-09-12 08:42] StefanPofahl commented on #222
Thanks for your reply, I have opened a question / issue:
https://community.intel.com/t5/Intel-oneAPI-Math-Kernel-Library/function-fft-sometimes-fails-to-calculate-result/m-p/1414125#M33641

[2022-09-12 11:20] yhmtsai commented on #223
I would also like to provide a docker image such that people can reproduce it easily.
The docker image is available in [ginkgohub/oneapi:cuda11.6](https://hub.docker.com/layers/ginkgohub/oneapi/cuda11.6/images/sha256-0bc4c10d79a75b183ac1deafcda753365c6e1a94edc3046a9a0eb8ba2d7b9d94?context=explore)
Use it like using nvidia docker.
I can also get the error on A100 GPU but less error than Titan X.
in

[2022-09-14 05:15] mmeterel commented on #224
@zjin-lcf
Closing this issue based on the argument made earlier. Please let us know if you have strong objections.

[2022-09-14 05:15] #224 closed, assigned to nobody

[2022-09-14 05:15] mmeterel commented on #216
@ericlars is this fixed and can be closed?

[2022-09-14 05:17] mmeterel commented on #205
Closing this issue, since the original question is answered.

[2022-09-14 05:17] #205 closed, assigned to nobody

[2022-09-14 05:18] mmeterel commented on #148
The examples are added. Closing.

[2022-09-14 05:18] #148 closed, assigned to nobody

[2022-09-14 20:45] mmeterel commented on #225
Closing since this is related to oneMKL product.

[2022-09-14 20:45] #225 closed, assigned to andrewtbarker

[2022-09-15 18:17] mmeterel commented on #223
Fixed by #228. Closing.

[2022-09-15 18:17] #223 closed, assigned to mmeterel

[2022-09-16 17:05] zjin-lcf commented on #225
Do you mind forwarding the issue to the oneMKL team ?
https://www.intel.com/content/www/us/en/develop/documentation/oneapi-mkl-dpcpp-developer-reference/top/blas-routines/blas-like-extensions/omatadd_batch.html

[2022-09-16 17:10] zjin-lcf commented on #225
I didn't receive your emails in my mailbox after your reply. Thanks.

[2022-09-16 17:43] mmeterel commented on #225
We (@andrewtbarker  and I) are part of oneMKL product team.

[2022-09-19 15:46] mmeterel commented on #223
Thanks for the image @yhmtsai This issue should be fixed now. Please let us know if you still see issues.

[2022-09-22 06:59] Soujanyajanga opened #229 "unsupported getri_batch/getrf_batch for Nvidia"
As per the [oneMKL-LAPACK](https://github.com/oneapi-src/oneMKL/blob/develop/src/lapack/backends/cusolver/cusolver_batch.cpp)

APIs "getri_batch/getrf_batch" are not implemented for Nvidia.

void geqrf_batch(sycl::queue &queue, std::int64_t m, std::int64_t n,
                 sycl::buffer<std::complex<double>> &a, std::int64_t lda, std::int64_t stride_a,
                 sycl::buffer<std::complex<

[2022-09-23 15:30] AidanBeltonS opened #230 "[LAPACK][CUSOLVER] Inefficient conversion from 32-bit ints to 64-bit ints."
# Summary
The legacy cuSolver API only accepts 32-bit ints as it is a limit of the library. oneMKL uses 64-bit ints, so in cases with `ipiv` vectors we use sycl kernels to convert from 32-bits to 64-bits. This is inefficient as it dispatches work to the GPU and requires an additional memory allocation. This could be improved by using an inplace expansion using the already 64-bit allocated memory.

[2022-09-26 09:19] yhmtsai commented on #223
Hi @mmeterel ,
Thanks for pushing these fixes.
It passes all tests on cuBLAS, but there are 16 failures in `*trd*` test in cuSOLVER on TitanX.
[code]
detail in [oneMKL_cuSOLVER_TitanX_error.txt](https://github.com/oneapi-src/oneMKL/files/9644827/oneMKL_cuSOLVER_TitanX_error.txt)

oneMKL commit: 9abb8cf1a8b4fa56c1a81db885e6f545d8a9623b
intel clang commit: e1794b668cd2e539672f500fcb0e6bcbc9766077
cu

[2022-09-26 16:02] mmeterel commented on #223
@yhmtsai Thanks for the new results. These failures are from cuSOLVER backend. Please feel free to open a new issue since this one is closed.
Tagging @ericlars and @sknepper

[2022-09-26 18:08] yhmtsai opened #231 "[cuSOLVER] `*trd*` tests are failed with latest oneMKL and LLVM"
# Summary
With our docker image [ginkgohub/oneapi:cuda11.6](https://hub.docker.com/layers/ginkgohub/oneapi/cuda11.6/images/sha256-a0224c44ec24b822c494690b6a88c6bb2529d7fe2165207673003624ed8204f0?context=explore), 16 `*trd*` test in cuSOLVER are failed on NVIDIA devices (I try TitanX and A100)

# Environment
* HW you use: A100 and TitanX
* Backend library version: cuda 11.6.2
* oneMKL version: 9abb

[2022-09-27 10:24] AerialMantis commented on #229
Hi @Soujanyajanga, thanks for raising this issue, I can give you an update on the progress of these operations for the Nvidia backend.

For `getrf_batch` Nvidia supports an equivalent to `getrf` but not to `getrf_batch` so to support this we need to implement it by manually batching the regular `getrf` implementation, and there is a pull request open just now which does this - https://github.com/o

[2022-09-27 10:30] AidanBeltonS commented on #229
I have a quick question, what native function have you been using as your work around? So far as I am aware getri does not have a native cuSolver equivalent.

[2022-09-27 14:11] AidanBeltonS commented on #229
I have managed to answer my own question, cuSolver does not implement `getri` cuBlas does.
https://docs.nvidia.com/cuda/cublas/index.html#cublas-lt-t-gt-getribatched

I think this is something we can support but I think it may take a bit of additional work in the backend to get the appropriate cuBlas handles, etc.

[2022-09-28 11:56] Soujanyajanga commented on #229
For "getri_batch", CUDA equivalent API is "cublasCgetriBatched" .
We have integrated CUDA APIs with SYCL interop as a workaround.
Are you interested,  in this approach?

[2022-09-30 18:08] mmeterel opened #233 "[rocBLAS - LLVM] seg fault in scal tests"
# Summary
While testing rocBLAS backend with LLVM compiler, scal tests segfault.

The following tests FAILED:
         81 - BLAS/RT/ScalTestSuite/ScalTests.RealSinglePrecision/Column_Major_gfx90a_sramecc__xnack_ (SEGFAULT)
         83 - BLAS/RT/ScalTestSuite/ScalTests.RealDoublePrecision/Column_Major_gfx90a_sramecc__xnack_ (SEGFAULT)
         85 - BLAS/RT/ScalTestSuite/ScalTests.ComplexSinglePreci

[2022-09-30 18:17] mmeterel opened #234 "[rocBLAS - LLVM] Deprecation warnings for hipCtxGetCurrent"
# Summary
While building rocBLAS backend with LLVM-HIP compiler, seeing deprecation warnings for hipCtxGetCurrent

warning: 'hipCtxGetCurrent' is deprecated: This API is marked as deprecated and may not be supported in future releases. For more details please refer https://github.com/ROCm-Developer-Tools/HIP/blob/master/docs/markdown/hip_deprecated_api_list.md [-Wdeprecated-declarations]
    HIP_E

[2022-09-30 18:59] TejaX-Alaghari commented on #233
Attaching the logs that show the failures for scal tests.
[scal_log.txt](https://github.com/oneapi-src/oneMKL/files/9686985/scal_log.txt)
[scal_verbose_log.txt](https://github.com/oneapi-src/oneMKL/files/9686987/scal_verbose_log.txt)

[2022-09-30 23:10] mmeterel commented on #176
#189 is merged. Closing this RFC.

[2022-09-30 23:10] #176 closed, assigned to nobody

[2022-10-07 07:59] ValZapod commented on #205
You do understand clang also supports cuda? As good as nvcc. And one can just say that PTX and Streaming assembler, SASS is just SYCL.

[2022-10-10 08:01] AerialMantis commented on #229
@Soujanyajanga yes, I think this is the approach we would take, if you can share your workaround this could be useful, thanks, I've added this to our roadmap so someone will take a look at.

[2022-10-10 14:37] Soujanyajanga commented on #229
Here below the work around implemented using SYCL interop
static sycl::queue *handle;
error = (handle = &dpct::get_default_queue(), 0);

……………..(creating/adjusting the parameters for CUDA API)
……………...
………………

       cublasStatus_t err1;
       cublasHandle_t handle_cuda1;
       CUstream streamId1 = sycl::get_native<sycl::backend::cuda>(*handle);
       err = cublasCreate(&handle_cuda1);
       e

[2022-10-18 23:05] #195 closed, assigned to andrewtbarker

[2022-10-19 21:10] zjin-lcf opened #239 "[RNG] PRNG function in a kernel"
Users can call 'curand_init' and 'curand_uniform4' in a CUDA kernel ?  I am not sure if they are supported by oneMKL interface.  Thanks.

[2022-10-21 12:10] aelizaro commented on #239
Hi @zjin-lcf, [RNG device APIs ](https://www.intel.com/content/www/us/en/develop/documentation/oneapi-mkl-dpcpp-developer-reference/top/random-number-generators/random-number-generators-device-routines.html)(callable from sycl-kernels) are now available only in Intel oneMKL product, not in oneMKL interfaces yet.

[2022-11-02 13:25] Sarbojit2019 opened #244 "iamax API is crashing"
iamax API is crashing while calling it in my project. It is throwing invalid argument error but it is not indicating which argument is invalid. Is there anyway to enable traces to know more information on why is it failing? I have copied the call stack, any suggestion will be a great help.

[code]

[2022-11-02 13:48] nilsfriess opened #245 "[cuBLAS] cuBLAS test sometimes segfaults with dpc++ and hipSYCL"
# Summary
When trying to run the unit tests from the cuBLAS backend, one test case sometimes causes a segfault both when using hipSYCL and dpc++.

# Version
For the dpc++ tests, I used the current develop branch (b8ec0cf). For the tests with hipSYCL 7020ba92e72f27850d8812512a1e737c3e446c2e was used (the cuBLAS backend does not compile with hipSYCL when using the current oneMKL develop branch, the

[2022-11-03 15:56] andrewtbarker commented on #244
The invalid argument error message you are seeing is to an internal call to the native GPU backend, not your call to the `iamax` API. It looks to me like oneAPI.jl is not configured properly for your GPU or software stack, but it's hard to tell.

This project is focused on the C++/SYCL interfaces, you might have more luck asking about the julia interfaces at the [oneAPI.jl repo](https://github.com

[2022-11-03 16:04] andrewtbarker commented on #245
Thank you for reporting this. Can you clarify "sometimes"? How many times do you have to run tests before you see this behavior?

[2022-11-03 16:10] nilsfriess commented on #245
I can try to measure it more precisely but I would estimate that about 50% of the time, the test segfaults. So running the tests over and over again could produce something like this: fails, passes, passes, fails, fails, fails, passes etc. Let me know if you need more details.

[2022-11-07 18:52] andrewtbarker commented on #245
I'm having trouble reproducing this locally, I think because of some configuration / compatibility issues with CUDA and the compiler, but I'm working on it. Is there any chance you could build a debug build and run it through valgrind to see if there's a useful trace on the segfault? I realize that could take some time and effort but it might be informative.

[2022-11-10 15:05] nilsfriess commented on #245
I tried to run valgrind but it just took too long so I started to delete parts of the test to find out which part could cause the segfault. It seems that it is not really a onemkl bug that causes the segfault: if I replace the `test` function of the [file that contains the test](https://github.com/oneapi-src/oneMKL/blob/develop/tests/unit_tests/blas/batch/imatcopy_batch_stride.cpp) by
[code]
it st

[2022-11-10 16:03] andrewtbarker commented on #245
Thank you @nilsfriess , this is very helpful information!

[2022-11-10 23:05] andrewtbarker commented on #245
Unfortunately I think this line in your reproducer is causing the segfault - the stride here should be 30*30=900. When I set that as the stride I don't get a segfault anymore. I suspect this is different from whatever caused the original issue.

[2022-11-13 02:51] Sarbojit2019 commented on #244
Thanks for suggestions, I will do the needful and come back. As of now closing it.

[2022-11-13 02:51] #244 closed, assigned to nobody

[2022-11-14 18:20] al42and commented on #27
Do you know whether it is still expected to be done in 2022, or has it been postponed?

[2022-11-14 19:09] lhuot commented on #27
DFT support with x86 CPU and Intel GPU backend is currently in progress and will probably arrive during Q1 2023.

[2022-11-22 22:09] dnhsieh-intel opened #252 "[BLAS][LAPACK] Add Netlib in PATH for Windows testing"
# Problem statement
To build Windows testing for BLAS and LAPACK domains, users would need to add Netlib in the environment variable `PATH` manually. Otherwise, the executables `test_main_<domain>_rt.exe` and `test_main_<domain>_ct.exe` would fail to build at linking. If the build is successful and users run tests later in a separate session, they would need to add Netlib in `PATH` again, or tests

[2022-11-22 22:11] #204 closed, assigned to mmeterel

[2022-11-29 17:18] sphblue opened #253 "[RNG] Question: functions.hpp does not contain all the generate() functions?"
When you look at this usage model
https://www.intel.com/content/www/us/en/develop/documentation/oneapi-mkl-dpcpp-developer-reference/top/random-number-generators/random-number-generators-device-routines/intel-onemkl-rng-device-usage-model.html

![image](https://user-images.githubusercontent.com/90853374/204595660-b303beb0-9afa-4bb9-a7f6-f90c348204ad.png)

There is a function called generate() with

[2022-11-29 18:09] aelizaro commented on #253
Hi @sphblue, thank you for the question! There are two kinds of APIs supported in oneMKL RNG: device and host. Device APIs which you are looking for is not yet part of oneMKL specification and oneMKL Interfaces project, they are available only in binary Intel oneMKL product as part of [oneAPI toolkits](https://www.intel.com/content/www/us/en/developer/tools/oneapi/base-toolkit.html#gs.jgyaex).

Pl